[2021-01-13 14:58] shaunc commented on #355
Yes -- that's the behavior. Below is the relevant chunk of code:
[code]

[2021-01-13 15:07] shaunc commented on #351
This issue is more a cry of frustration than a bug report. I think between your fixing the other bugs and my finding workarounds, I might have found a path to get things to work. You are welcome to close this in favor of the other more specific issues. I will try to create issues for any more specific bugs after you fix the current round.

[2021-01-13 22:09] rmk135 commented on #354
@shaunc , fixed in `4.8.2`. Initial code sample works now.

[2021-01-13 22:09] rmk135 commented on #354
Close the issue, re-open if needed. Many thanks for submitting it!

[2021-01-13 22:09] #354 closed

[2021-01-13 22:37] shaunc commented on #354
Great -- thank you!

[2021-01-13 23:47] shaunc opened #356 "provide default for a dependencies container from another dependencies container"
Here is a case that is sort of a mix of other recipes you have provided: I would like to provide a default value for a dependencies container by taking it from another dependencies container:

[code]
This gives:
[code]

[2021-01-14 00:26] shaunc commented on #356
Also tried:
[code]
Without the "provided" this gives `AttributeError: 'dependency_injector.providers.Dependency' object has no attribute 'providers'`, With the "provided" the error is `Error: Dependency is not defined`

[2021-01-14 13:54] rmk135 commented on #351
Hey @shaunc ,

I'm very sorry that Dependency Injector caused the frustration. Indeed, I have never tried to build applications like you build. All the examples you see in the docs far more naive. I've run through the issue and diagram several times and didn't get the problem. With all my willing to help, I don't understand the mechanics of the system you build. I have a feeling that problem solut

[2021-01-14 15:05] shaunc commented on #351
Regarding the concrete suggestion -- does converting a DependenciesContainer into a Dependency work if the dependency is a container? For one thing, instances of containers aren't actually instances of their Container classes -- this I can get around by using `instance_of=containers.DynamicContainer` ... but then I seem to have problems dereferencing elements -- especially if I have to go through

[2021-01-14 19:18] shaunc opened #357 "Feature request: allow specification of types of DependencyContainer() providers"
Containers have two types of parameters - dependencies, and dependency containers, which are collections of dependencies, satisfied with a container. They both can be instantiated in two ways: either on container creation (or afterwards with `override_providers`), or when a derived Container class overrides a dependency or dependency container.

In the latter case, currently at least, a Dependenci

[2021-01-14 20:18] StefanoFrazzetto opened #358 "Configuration raises AttributeError when provider is called"
Hi, I just run into this issue with the `Configuration` provider. After scratching my head for a bit, I managed to find a workaround, but I was wondering if this is actually a bug or just something wrong I am doing. Any help would be appreciated!

**Steps to reproduce**

`containers.py`
[code]

If I run `app.py`

[code]
with `config.yaml`
[code]

it raises the following error

    self.service().t

[2021-01-14 22:04] rmk135 commented on #358
Hey @StefanoFrazzetto , what version of Dependency Injector do you use?

There were a couple fixes recently. I tried that code sample on latest version `4.8.2` and it seems to be working correctly.

[2021-01-14 22:08] rmk135 commented on #358
Btw, containers in initial example look the same way like in workaround. I have tried next example and it also seems to be working correctly:

[code]

[2021-01-14 22:23] rmk135 commented on #357
Hey @shaunc, next works with current codebase:

[code]

Also there is a version without `resolve_part()`:

[code]

[2021-01-14 22:28] rmk135 commented on #357
Example with `@copy` works with minor modifications in `c2.override()`:

[code]

[2021-01-14 22:41] rmk135 commented on #357
I guess the only missing part here is that `C1.providers` returns dictionary of all `C1` providers, not only `Dependency` and `DependencyContainer` providers. That's easy to extend. I can add a property to all container types:

[code]

In that case the code will look like:

[code]

What do you think?

[2021-01-14 22:43] rmk135 commented on #356
Didn't get to that one today. Will take a look tomorrow.

[2021-01-14 23:43] StefanoFrazzetto commented on #358
Hey @rmk135, thanks for the quick reply!

Sorry, I made a mistake when I copy-pasted the first part with the issue (pasted the workaround twice); I've corrected the initial comment with the issue. I found the error because I was expecting to load something like
[code]
but my config file did not contain the 'services' key, e.g.
[code]

By the way, I'm using version 4.8.2.

[2021-01-15 00:12] shaunc commented on #357
Looks great -- but where is `dependencies` used? Did you mean:
[code]
?

[2021-01-15 11:26] rmk135 commented on #358
Hey @StefanoFrazzetto , got it, thanks for extra info. I see a bug now, fixing.

[2021-01-15 11:51] rmk135 commented on #358
Fixed in `4.8.3`. @StefanoFrazzetto Many thanks for reporting the issue. Closing it, re-open if needed.

[2021-01-15 11:53] rmk135 commented on #357
Ok, cool. Working on it.

[2021-01-15 12:26] rmk135 commented on #357
I've released version ``4.9.0`` with ``.dependencies`` attribute for the ``DeclarativeContainer`` and ``DynamicContainer``.

[2021-01-15 12:28] rmk135 commented on #357
This example now works with ``4.9.0``:

[code]

[2021-01-15 12:30] rmk135 commented on #351
Does feature from #357 helps with resolving current one?

[2021-01-15 12:35] rmk135 commented on #355
Ok, cool, got it. Thanks for explanation and sharing the code (it looks good!). Considering discussions in other issues, do you need any help with this one?

[2021-01-15 12:52] rmk135 commented on #356
Seems #357 feature helps to resolve this one too:

[code]

What do you think?

[2021-01-15 15:32] shaunc commented on #357
Great! Thanks so much. Yes -- I think it will help with the other issues as well. (Will have to unwind my workarounds -- will try later today.)

[2021-01-15 15:33] rmk135 commented on #357
Ok, sounds good. Waiting for your feedback from the field.

[2021-01-15 15:34] shaunc commented on #351
I think so. I guess there are some situations involving inheritance that #357 doesn't exhibit. Once I unwind my current workarounds I should be able to say. Thank you!

[2021-01-15 16:26] StefanoFrazzetto commented on #358
Hey @rmk135, thank you very much for the effort with this!

I've updated to v4.9.0, but unfortunately I'm still experincing the issue. I created a gist with the [sample code](https://gist.github.com/StefanoFrazzetto/d15340dacd261cdd0a9391a2d4e7b03e) showing two examples: working and broken config.

I've also found another bug where the config provider doesn't raise an error if you try to load a no

[2021-01-15 17:16] rmk135 commented on #358
Got it, will take a look later today.

This is not a bug, but a feature. It's done that way to be able to put in a code multiple locations like:

[code]

In that case settings from `config.local.yaml` will override the settings from `config.yaml`. If `config.local.yaml` does not exist, no error is expected.

[2021-01-15 21:22] rmk135 commented on #358
I have applied one more fix and now sample code provides:

[code]

While that fixes the internal bug, it does not lead to the fail-fast behaviour. That happens because undefined config value provides none: ``config.undefined() is None``. I guess that desired behaviour here is to see an error that config option is undefined. This is something that will be implemented for #341 . config will go into

[2021-01-16 14:03] rmk135 commented on #341
I have released version `4.10.0` with strict mode and required modifier features for the ``Configuration`` provider. Here is a doc: https://python-dependency-injector.ets-labs.org/providers/configuration.html#strict-mode-and-required-options

[2021-01-16 14:04] rmk135 commented on #341
Closing the issue. Reopen if needed.

[2021-01-16 14:04] #341 closed

[2021-01-16 14:04] rmk135 commented on #341
@ms-lolo , thanks for suggesting the feature!

[2021-01-16 14:05] rmk135 commented on #358
@StefanoFrazzetto I have released version 4.10.0 with strict mode and required modifier features for the Configuration provider. Here is a doc: https://python-dependency-injector.ets-labs.org/providers/configuration.html#strict-mode-and-required-options

[2021-01-16 18:04] StefanoFrazzetto commented on #358
Hi @rmk135 - that's great, thank you!

Just to be sure, could you tell me if the behaviour for the following is the expected one?

I updated the code to use `strict=True` in ServiceContainer's config

[code]
but I still get the attribute error in `myservice.__init__()`
[code]

Per documentation, I would expect the error to be raised earlier

Of course, it works fine if I do the following instead
[

[2021-01-16 18:06] ms-lolo commented on #341
this seems to solve my problem, thank a lot!

[2021-01-16 18:24] StefanoFrazzetto commented on #358
Re: `config.from_yaml('not_existing,yaml')`

I would usually expect to have an exception raised when trying to do something with non-existent resources. If you believe it's better to keep that behaviour, then it might be useful to have a `strict` kwarg flag here as well.

[2021-01-16 20:03] kolypto opened #361 "async Resource depends on another async Resource: failure"
Hi, thanks for a wonderful project :)

I just discovered that the following container:

[code]

Result:

The error goes away if I remove `async` from the first resource, of from both of them.

Full source code with reproducible error, using version 4.10.0:

[code]

[2021-01-16 20:04] rmk135 commented on #341
Glad to hear that! Thank you again

[2021-01-16 20:09] rmk135 commented on #361
Hi @kolypto . Yep, that looks like a bug. Thanks for filing the issue. I’ll take a look.

[2021-01-18 07:47] shaunc commented on #357
Everything good on this one -- Thanks!

[2021-01-18 07:47] #357 closed

[2021-01-18 13:20] ventaquil opened #362 "Cannot wire module with `queue.Queue`"
Wiring any module which imports `queue.Queue` raises error `ValueError: no signature found for builtin type <class 'types.GenericAlias'>`.

[code]

[2021-01-18 15:35] rmk135 commented on #362
Hi @ventaquil , thanks for reporting the bug. That's serious stuff, will take a look.

[2021-01-18 15:37] rmk135 commented on #357
Good. Thanks for the update.

[2021-01-18 15:42] ventaquil commented on #362
Hey @rmk135, thanks for response. I have tried quick fix with `try...catch` block but it's not enough.

[2021-01-18 21:52] AshurovRustam opened #363 "Possibility to inject FastAPI Request object as argument of router dependency"
Hi mates, trying use this beautiful lib with FastApi as better IoC container but not sure whether it is possible to inject http Request object as argument of FastApi router dependency.

So let's say I have a router where a Service is injected:
`@router.get('/')
@inject
async def get(search_service: SearchService = Depends(Provide[Container.service])):...`

Service itself has ctor parameter of http

[2021-01-19 02:09] rmk135 commented on #362
Fixed in `4.10.1`.

Looks like it was a Python 3.9 specific problem. Introspection doesn't work for ``types.GenericAlias``. It is used as ``queue.Queue.__class_getitem__()`` method:

[code]

Thanks a lot for reporting the bug @ventaquil . Closing the issue, reopen if needed.

[2021-01-19 02:09] #362 closed

[2021-01-19 02:23] rmk135 commented on #363
Hi @AshurovRustam , right now it's not possible. I'm not sure if that's gonna work, but I could try to implement this.

As a temporary solution you can use `Provider` marker to inject service provider and initialize service inside the handler:
[code]

I will get back after running some experiments.

[2021-01-19 07:55] ventaquil commented on #362
Works perfect! Thank you very much for such quick fix 👍

[2021-01-19 09:27] AshurovRustam commented on #363
Thanks for your quick response @rmk135 Roman, it is exactly how I'm using it now.
Probably having usage of providers only in routers is not a big problem for me while these DI concepts don't leak to the lower layers of the application.

Plus maybe I should consider to organize access to the request data via some static contextvars collection that will be populated in FastApi middleware per request

[2021-01-19 09:56] shaunc commented on #356
Looks good too! -- Thanks!

[2021-01-19 09:56] #356 closed

[2021-01-19 10:05] shaunc opened #364 "feature request: provider for "self""
I would like a provider to be able to pass a container as an argument:
[code]
I assume that is impossible to do directly, right now? I guess perhaps I could do:
[code]

But having the container work without having to put cheese in it (to use a mousetrap analogy) would be great... any chance of something like the former (if indeed it isn't possible)?

[2021-01-19 15:01] rmk135 commented on #356
Good, thanks!

[2021-01-19 15:13] Balthus1989 opened #365 "impossible to perform wire when modules are dinamically invoked with importlib.import_module"
Hello there,
I noticed that an explicit import of a package works smoothly, while a dinamic import causes the wire function to not work properly

When it works:

`from dependency_injector import containers, providers
from dependency_injector.wiring import inject, Provide
from pathlib import Path

from src.service.costestimator.costestimator import costestimator as CE

if __name__ == '__main__':

[2021-01-19 18:05] rmk135 commented on #365
Hi @Balthus1989 , thanks for reporting the issue. I'll check if I could improve it.

[2021-01-19 18:06] rmk135 commented on #364
Hey @shaunc , caught it.

[2021-01-19 19:42] shaunc commented on #351
Ok -- I think my containers are basically working. I have some ideas for improvement -- I'll submit separately as feature requests. Thank you for your support, and your great package!

[2021-01-19 19:42] #351 closed

[2021-01-19 19:42] shaunc commented on #355
Also all set here -- thank you very much!

[2021-01-19 19:42] #355 closed

[2021-01-19 21:11] rmk135 commented on #351
Glad to help! Thanks for your patience and input to make Dependency Injector to be a better tool.

[2021-01-19 21:12] rmk135 commented on #355
Good, thank you too!

[2021-01-19 21:59] Balthus1989 commented on #365
You're welcome. I hope I've been clear in describing the error :-)

[2021-01-19 22:57] rmk135 commented on #361
Fixed in `4.10.2`. Many thanks for reporting the bug. Closing the issue, reopen if needed.

[2021-01-19 22:57] #361 closed

[2021-01-20 01:13] shaunc opened #366 "feature request: provider dependency introspection"
I would like to have a way to get the dependent providers for a given provider. Traversing dependency links forward would also be nice (though not as important), as would getting the container for a given provider.

Uses cases:

1. I am writing containers as configurable "tiles" in a machine learning pipeline framework (explained elsewhere). Once I am able to build and run common pipelines, my nex

[2021-01-20 04:24] shaunc opened #367 "feature request (/doc?): make use of providers from base class less confusing"
### Version 1
Here is what I aspire to do:
[code]
So base class A sets up some dependencies. Subclass B provides a provider that depends on one of them, and provides the other. Unfortunately that version doesn't work.

### Version 2
Without the `copy` still doesn't work, though traceback looks different:
[code]

### Version 3
If I copy `a` explicitly, but still leave off the `copy`, still doesn't

[2021-01-20 14:11] rmk135 commented on #358
Hey @StefanoFrazzetto ,

It was a bug. Fixed in `4.10.3`.

Also you can give a specific name for the config provider in `ServiceContainer` to produce the most verbose error:

[code]

produces:

[code]

PS: I will check if I could make config provider name definition `config = providers.Configuration('config.services')` to work automatically.

[2021-01-20 14:23] rmk135 commented on #358
I agree. This is a design error. It didn't look like that when I designed it initially. Sort of hindsight bias :)

I can not change ``config.from_yaml('not_existent.yaml')`` to raise an error cause it will change current behaviour. There might be people who rely on current behaviour and their code will crash.

To fix the issue I could introduce a new API. Something like:

- ``config.from_yaml('not

[2021-01-20 17:17] Minitour commented on #358
Hi,

I have been experiencing problems with the Configuration Provider as well. The weird thing is that it runs perfectly fine locally on my machine, but when deployed to AWS Lambda, it seems to fail.

[code]

I am initializing the configuration provider using `from_dict` however I am doing this from within the container itself which doesn't align with the examples in the documentation but never t

[2021-01-20 20:04] rmk135 commented on #358
Hi @Minitour , can you provide a code sample?

[2021-01-21 08:52] Minitour commented on #358
@rmk135 Sure

[code]

In lambda handler:
[code]

[2021-01-21 09:59] StefanoFrazzetto commented on #358
@rmk135 As proverb says, "hindsight is 20/20" 😄

Using a *required* flag seems a great option, though I think this should be passed with kwargs, as this would allow passing things like a custom yaml loader (I will open a new issue for a potential problem I spotted).

By the way, I still believe an exception should be raised when using a *strict* config.
Maybe that's something you could consider wi

[2021-01-21 11:41] kolypto opened #368 "Async providers with async dependencies"
It turns out that async providers currently cannot have async dependencies.

Example: in this container, both are `async` functions:

[code]

Now, when in my code I request an instance of `service`:

[code]

the expected result would be an instance of service. The actual result is its unawaited coroutine:

This behavior persists with Resource, Couroutine, and other providers.

---

Full source cod

[2021-01-21 14:43] rmk135 commented on #358
Thanks @Minitour. I'll try to run a couple of experiments with it.

[2021-01-21 15:01] rmk135 opened #369 "Add option "required" to the config.from_* methods"
I agree. This is a design error. It didn't look like that when I designed it initially. Sort of hindsight bias :)

I can not change ``config.from_yaml('not_existent.yaml')`` to raise an error cause it will change current behaviour. There might be people who rely on current behaviour and their code will crash.

To fix the issue I could introduce a new API. Something like:

- ``config.from_yaml('not

[2021-01-21 15:03] rmk135 commented on #368
Thanks @kolypto. I'll take a look.

[2021-01-21 15:12] rmk135 opened #370 "Raise an error on non-existing configuration files in strict mode"
Re: `config.from_yaml('not_existent.yaml')`

I would usually expect to have an exception raised when trying to do something with non-existent resources. If you believe it's better to keep that behaviour, then it might be useful to have a `strict` ~~kwarg flag~~ checking [here](https://github.com/ets-labs/python-dependency-injector/blob/master/src/dependency_injector/providers.pyx#L1337), e.g.

[co

[2021-01-21 15:14] rmk135 commented on #358
@StefanoFrazzetto

I've created an issue for the `required` option: #369

I think I can add this in version 4 since `strict` is a new feature. I'll use your code sample from https://github.com/ets-labs/python-dependency-injector/issues/358#issuecomment-761611148. Here is an issue for this: #370

In version 5, `strict=True` should become a default.

[2021-01-21 16:54] rmk135 commented on #368
I have fixed it, but can not publish to PyPI cause of CI issues.

Travis CI has changed the policy of OSS projects support recently. I asked them to support Dependency Injector. They provided some credits one-time. Seems like this amount is used, so I'm requesting them to replenish the credits again. I expect this to get resolved in a day or two. Otherwise I will publish source code tar ball from

[2021-01-21 20:22] StefanoFrazzetto commented on #369
In #358 I suggested adding kwargs to the *from_\** methods. This is because of *Configuration.from_yaml* using an [unsafe loader](https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation)* on [this line](malicious.yml). This would allow to have a bit more flexibility, keeping the interface consistent for all the methods while also allowing users to make their own choice.

See the fo

[2021-01-21 21:10] StefanoFrazzetto commented on #369
PS: Opened a pull request as well, so I won't just complain about issues 😆

[2021-01-21 21:30] rmk135 opened #372 "Change YAML loader to the SafeLoader by default"
In #358 I suggested adding kwargs to the *from_\** methods. This is because in *Configuration.from_yaml* an [unsafe loader](https://github.com/yaml/pyyaml/wiki/PyYAML-yaml.load(input)-Deprecation)* is used on [this line](malicious.yml). This approach would allow to have a bit more flexibility, keeping the interface consistent for all these methods, while allowing users to make their own choice abo

[2021-01-21 21:31] rmk135 commented on #369
Created #372 from your comment.

[2021-01-21 21:34] rmk135 commented on #369
No worries about complaining: it's not a complaining, it's a feedback. I'm positive and thankful you provide it. It helps to improve the framework.

Thanks for the PR! I will decline it cause some more work should be done before merging. I'll add you as a watcher to the new one so you could take a look on the change and maybe come up with the other PRs later.

[2021-01-23 08:53] shaunc opened #374 "Can't override base class dependencies container with dependency built by callable"
Here is another tricky one I stumbled on --
[code]

I also can't get it to work by repeating x definition and overriding:
[code]
Gives `TypeError: 'builtin_function_or_method' object is not iterable` on module load.

[2021-01-27 12:50] #368 closed

[2021-01-27 13:36] rmk135 commented on #374
Hey @shaunc ,

Here is a way to make it work:

[code]

PS: My apologies it took so long to answer. Was overwhelmed with other stuff.

[2021-01-27 13:36] rmk135 commented on #374
I'm not quite sure why 1st example doesn't work. I'll double-check it.

[2021-01-27 13:42] rmk135 commented on #368
@kolypto

Fixed in ``4.11.0``. It's already on PyPI.

My apologies it was there and it took so long to fix it. I had to make unplanned migrating to Github Actions. I also added extra tests and refactored async injections code. It will go smoothly now. Thanks for reporting the bug. If you find anything else or just need any other help - open an issue.

Best,
Roman

[2021-01-27 13:44] rmk135 commented on #369
@StefanoFrazzetto

Done at ``4.11.0``. It's already on PyPI. See: https://python-dependency-injector.ets-labs.org/providers/configuration.html#mandatory-and-optional-sources

Thanks for the improvement suggestion.

[2021-01-27 13:44] #369 closed

[2021-01-27 13:45] rmk135 commented on #370
@StefanoFrazzetto

Done at ``4.11.0``. See: https://python-dependency-injector.ets-labs.org/providers/configuration.html#strict-mode-and-required-options

Thanks again for the improvement suggestion.

[2021-01-27 13:45] #370 closed

[2021-01-27 13:47] rmk135 commented on #372
@StefanoFrazzetto

Done at 4.11.0. See: https://python-dependency-injector.ets-labs.org/providers/configuration.html#loading-from-a-yaml-file

Thanks for the improvement suggestion one more time.

[2021-01-27 13:47] #372 closed

[2021-01-27 14:25] rmk135 commented on #374
I have fixed an issue in ``@containers.copy``. Now 1st example also works with little modifications:

[code]

[2021-01-27 14:27] rmk135 commented on #374
Fixed in ``4.11.1``. It's been publishing on PyPI right now and will be ready as soon as https://github.com/ets-labs/python-dependency-injector/actions/runs/515305692 is done. Btw, it's a new CD pipeline on Github Actions.

[2021-01-27 14:32] shaunc commented on #374
Great -- thank you!

[2021-01-27 14:32] #374 closed

[2021-01-27 16:35] approxit commented on #354
Instead of opening new issue I'll comment right here, because `4.8.2` broke different case for `providers.Container` usage where declaration is not at class root level.

Here is somewhat simplified example:
[code]
We expect here for all prints to be equal, and `4.8.2` breaks it. Workaround is using `providers.Factory`, but still case is some kind of a regression.

[2021-01-27 16:45] kolypto commented on #368
@rmk135 thanks for fixing, it was actually quite responsive of you :)

[2021-01-27 17:32] rmk135 commented on #354
![ezgif-7-0d11c34a9a3a](https://user-images.githubusercontent.com/1742049/106029824-7ab7df00-609b-11eb-80e1-958d2025c636.gif)

@approxit thanks for the heads-up. I'll covert it into an issue and take a look asap.

[2021-01-27 17:32] rmk135 opened #379 "4.8.2 broke different case for providers.Container usage where declaration is not at class root level"
Instead of opening new issue I'll comment right here, because `4.8.2` broke different case for `providers.Container` usage where declaration is not at class root level.

Here is somewhat simplified example:
[code]
We expect here for all prints to be equal, and `4.8.2` breaks it. Workaround is using `providers.Factory`, but still case is some kind of a regression.

_Originally posted by @approxit i

[2021-01-27 19:21] rmk135 commented on #379
Fixed in `4.11.2`. CD is publishing it on PyPI: https://github.com/ets-labs/python-dependency-injector/actions/runs/516012732.

Should be available in ~30 minus.

[2021-01-27 20:02] approxit commented on #379
Thanks for instant reaction! Now everything works as intended. :)

[2021-01-27 20:44] rmk135 commented on #379
Good, glad to hear. Thanks for reporting the issue.

[2021-01-27 20:44] #379 closed

[2021-01-27 22:37] rmk135 commented on #358
@Minitour ,

Here is a workaround for your problem:

[code]

The root cause of that issue is kind of tricky. I'll check later if there is a good way to fix it.

[2021-01-28 15:06] rmk135 commented on #358
@Minitour ,

Fixed in ``4.11.3``.

[code]

Thanks for reporting the problem.
I'm closing this issue. Feel free to re-open or comment if needed.

[2021-01-28 15:06] #358 closed

[2021-01-28 16:23] approxit opened #380 "Resource is not detected by container.init_resources() when declaration is not at class root level"
Howdy, another somewhat similar issue like #379, this time with `providers.Resource`.

Consider this example:

[code]
First container with everything defined at class root level works, as both Resources are detected and initialized by `container.init_resources()`.
Second container with nested Resources definition can't figure it out, and `container.init_resources()` is not picking up all resources

[2021-01-28 17:15] rmk135 commented on #380
Hey @approxit ,

Few things:

1) I'll check if `NonRootResourceContainer.init_resources()` could check for non root resources as well. That should be possible with some changes done to the code. I don't  feel like it should break anything, but I need to double-check. Generally, I'm thinking positively about getting it implemented.

2) I'm not sure if I got what you're saying correct, so let me pro

[2021-01-29 01:00] rmk135 commented on #365
Hey @Balthus1989 ,

I've analyzed the problem. It is not a bug in existing functionality, but an uncovered use case. I would call it "wiring dynamically imported modules".

I have released version ``4.12.0`` that covers this use case. Here is a sample:

[code]

[2021-01-29 01:03] rmk135 commented on #365
Closing the issue. Thanks for providing the use case. Feel free to comment if any issues or questions.

[2021-01-29 10:49] approxit commented on #380
🤔

Okay, it looks like I've stretch async Resources understanding way too much, and assumed that their asyncness can be somewhat "transparent" as everything besides `providers.Coroutine` is sync. So my wrongly assumed code example:

[code]

Should be modified to keep connection/resource handling away from sync providers stack as example below?

[code]
I get it now, but I'm not gonna lie, my wrong

[2021-01-29 18:55] rmk135 commented on #336
Hey @shaunc ,

I have release version ``4.13.0`` with the ``default`` argument for the ``Dependency`` provider.

[code]

I didn't use overriding feature for the default argument in favour of true default implementation. I've also updated the docs and appreciate if you could take a look: https://python-dependency-injector.ets-labs.org/providers/dependency.html.

[2021-01-29 19:17] shaunc commented on #336
Great -- thank you very much! Hmm... maybe the new docs aren't on the site yet (don't see "default" there)?
Also, does it make sense to provide defaults for DependenciesContainer as well?

[2021-01-29 21:01] rmk135 commented on #336
@shaunc I guess updated docs were not deployed at time you were checking. Try again, please: https://python-dependency-injector.ets-labs.org/providers/dependency.html

Btw, I've got a new CI https://github.com/ets-labs/python-dependency-injector/actions/runs/521728453 :) Docs build is in very end of the pipeline, so I should been waiting until the job is done. Sorry about my hustling.

As of the D

[2021-01-29 21:43] rmk135 commented on #367
Hey @shaunc ,

I found a bug in the container metaclass. It was braking child container. Second example now works like you described:

[code]

I'm publishing version ``4.13.1`` with a fix: https://github.com/ets-labs/python-dependency-injector/actions/runs/522074952

[2021-01-29 22:10] shaunc commented on #336
The docs look good for Dependency -- thanks! 👍 .

For DependenciesContainer I was thinking of the kwargs as the "form" of the providers and not the content per se -- so e.g. if I specify `providers.DependenciesContainer(foo=providers....)` then any instantiating instance would be required to have a foo provider of the specified type. A default, on the other hand, would fill in a missing `foo`.
(Bo

[2021-01-29 22:25] rmk135 commented on #380
I had the same vision on async resources when started working on the feature. I thought about ``Resource`` provider as a connector between async and sync worlds. While I proceed with implementation and testing, I realized that it leads to undesired side effects. To avoid the side effects I decided to make it work truly async on all levels.

The goods news is that truly async design brings outstand

[2021-01-29 22:36] rmk135 commented on #336
Thanks for checking the docs.

As of the dependencies container. There are two things you can do:

[code]

That should sort of cover your use cases.
However, there is no way to verify that all required dependencies (that have no defaults) are provided when you create a container. Missing dependency reveals only in runtime, when you try to use it first time.

[2021-01-29 23:22] shaunc commented on #336
Ok -- very good. Yes -- I was already trying to do what you suggested with overrides. Now with the defaults on the individual Dependency its cleaner. Checking dependencies would be nice, but I guess that by design you are able to provide them "incrementally" so requiring them all up front would break other use cases. Perhaps a `containers.checkDependencies( instance )` would be nice at some point.

[2021-01-29 23:22] #336 closed

[2021-01-30 00:18] rmk135 commented on #336
Right, totally agree. I'll create an issue for `containers.checkDependencies( instance )`.

Thanks @shaunc .

[2021-01-30 00:19] rmk135 opened #383 "Check if required container dependencies are provided, aka containers.check_dependencies(instance)"
Need to implement a checker of container required dependencies.

Ok -- very good. Yes -- I was already trying to do what you suggested with overrides. Now with the defaults on the individual Dependency its cleaner. Checking dependencies would be nice, but I guess that by design you are able to provide them "incrementally" so requiring them all up front would break other use cases. Perhaps a `conta

[2021-01-30 12:36] rmk135 commented on #367
@shaunc fix is published.

[2021-01-30 15:54] ms-lolo opened #384 "Q: Is it possible to use DependenciesContainer when defining a provider_type?"
I'm trying to define a container that only provides instances that extend `Foo`, however, some of these instances depend on things provided by other containers. Is this possible and what would the best approach be? Here's a sample mostly taken from multiple parts of your docs:

[code]

[2021-01-30 20:45] rmk135 commented on #384
Hi @ms-lolo ,

That's what you can do as a workaround:

[code]

I guess the expected behaviour is to just have it working the way it is in your example. In that case container should ignore checking the type for ``Dependency`` and ``DependencyContainer`` providers. From the first view this sounds ok, but I need to think more to make sure it doesn't break anything.

[2021-01-31 04:45] ms-lolo commented on #384
Thanks for the suggestion, @rmk135. It wasn't clear that I could provide a tuple of types there. I think your example will work for me. I think maybe I have a followup request. It would be nice for me to have an API for defining the things provided by the container without having to expose the dependencies (`main_container` in this case). For example, I would like `specific_container.providers` to

[2021-02-01 08:43] approxit commented on #380
Understandable. With multiple ways to initialize Resource only some kind of `UninitilizedResource` exception would save the day, but still, someone would want receive awaitable and others would like to receive sync result... Keeping it simple is the best way. And I'll have to live with that. 😄

- - -

For sure adding `await` for service from example is the easiest option, but I'd like to stick wit

[2021-02-01 15:58] rmk135 commented on #380
Hey @approxit ,

I have published version `4.14.0` that fixes non-root resources initialization bug. The output of the initial example now looks like this:

[code]

[2021-02-01 16:07] rmk135 commented on #366
Hey @shaunc ,

I have released a feature to traverse container providers. Take a look at https://python-dependency-injector.ets-labs.org/containers/traversal.html

You can also use ``Provider.related`` attribute to get any related providers. This includes injections, dependencies, overridings, etc. Attribute ``Provider.related`` is implemented by all providers.

To traverse specific provider's gra

[2021-02-01 16:10] shaunc commented on #366
Wonderful -- thanks! I'll take a look.

It will probably be a week before I try to use `Provider.traverse()` -- will give you feedback when I do.

[2021-02-01 16:14] rmk135 commented on #366
Got it, sounds good!

[2021-02-02 13:39] rmk135 commented on #384
Hi @ms-lolo , ok, sounds good. I like and understand you idea. This use case makes me think about more strict boundary between dependencies and actual container providers. I'll add a backlog item to find elegant solution for this.

[2021-02-02 14:30] rmk135 commented on #380
Hey @approxit , I think I mislead you with my pre-last response and I'm sorry about that.

So few things:

----------
1. In my pre-last response I have suggested to add an await in a place that did not require this. It happened because I didn't analyze the structure of example container well.

<img width="993" alt="Screenshot 2021-02-02 at 09 14 43" src="https://user-images.githubusercontent.com/1

[2021-02-02 14:33] rmk135 commented on #367
@shaunc I'm closing this for now. Please, comment if any issues.

[2021-02-02 14:33] #367 closed

[2021-02-02 15:08] shaunc commented on #367
I think we're good -- thanks!

[2021-02-02 16:04] ventaquil opened #386 "Cannot import name 'Container' from 'dependency_injector.containers'"
Hey!

I am trying to add type annotations to my Python code wherever I can. I created simple functions to init/shutdown resources in nested containers:

[code]

I see that `containers.pyi` declares `Container` class but it seems that containers don't have `Container` parent at all.

I can prepare PR with abstract `Container` class.

[2021-02-02 16:50] approxit commented on #380
Don't worry @rmk135, there was no misleading in your answers. :)

- - -

1: Yup, if we want to access any provider, which have async resource in its deps, outside of container, we need await it - got that from your first comments. :)
Actually worth point out is interacting with container from outside and from inside. All previous examples shows case where we want interact with container from outsi

[2021-02-02 17:28] Balthus1989 commented on #365
The problem is that: even the Container class should be imported dinamically, depending on the customer.
Could you provide a code where even the containers are dinamically imported?

Thank you very much

[2021-02-02 17:32] Balthus1989 commented on #365
Another punctuation: using the following code in evoking my class...

`class costestimator(): def __init__(self, customer_name = Provide[Container.config.customer.customer_name.as_(str)], customer_plant = Provide[Container.config.customer.customer_plant.as_(str)]):`

... it states that those fields are not contained in the Container object

[2021-02-02 17:37] rmk135 commented on #365
Well, it should and I have tests for resolving `.as_(str)` correctly so let's debug. Could you, please, print what you have in config?

[code]

[2021-02-02 21:36] rmk135 commented on #380
Example with callable is terrific:

[code]

I have no idea why that works :) I mean why `container.main()` works without await. I have feeling I need to fix something to make it stop working :)

As of the `.synchronized`. It's just an idea for now. I will experiment if it's possible to make it work properly.

Despite `.synchronized` experiment, I would recommend to check if you could go async on a

[2021-02-02 21:50] rmk135 commented on #386
Btw, starting from version  `4.14.0` you don't need to have these recursive functions. When you call `.init_resources()` on root container, it will initialize all nested resources. The same for shutdown. If you have other recursive functions, see new feature: https://python-dependency-injector.ets-labs.org/containers/traversal.html

[2021-02-03 01:11] cameroncurrey opened #387 "Q: Singleton Provider Referencing a Singleton Provider"
Amazing library! Thank you for building this!

One question I had was in regards to Singletons referencing other Singleton providers and how [reset](https://python-dependency-injector.ets-labs.org/api/providers.html?highlight=reset#dependency_injector.providers.Singleton.reset) comes into play.

For example if I have the following:

[code]

The singleton referenced by "MyService" will always be th

[2021-02-03 14:36] rmk135 commented on #387
Hey @cameroncurrey ,

No, Dependency Injector doesn't  call ``.reset()`` by its own.

The problem you face is known and I'm willing to fix it. I have introduced new providers traversal API that unlock a lot of useful features. As a workaround you can do:

[code]

[2021-02-03 21:30] rmk135 commented on #386
Fixed in ``4.16.0``. Thanks for reporting the problem. Closing  the issue, re-open if needed.

[2021-02-03 21:30] #386 closed

[2021-02-03 23:58] cameroncurrey commented on #387
Hey @rmk135,

Your answer `No, Dependency Injector doesn't call .reset() by its own.` helps. My usage never actually calls `reset`, so for me it is not a problem. My concern was if it could happen from underneath the hood, which could cause all sorts of problems for my particular use case.

-If- I did have a need to call `reset`, I think the
[code]
option makes a lot of sense. It totally makes sen

[2021-02-04 10:06] ventaquil commented on #386
I haven't time yet to do it on my own 😢

Thank you for fix and recommendations about `.init_resources()`.

[2021-02-04 12:18] rmk135 commented on #386
No worries! Thanks for finding time to report the issue. It helps to improve Dependency Injector.

[2021-02-04 13:18] rmk135 commented on #387
Hey @cameroncurrey ,

Got it. No, it does not happen, so you're on a safe side.

--------

As of full reset I also prefer ``singleton.full_reset()``. I'll add the feature into the backlog.

--------

Thank you for the warm words. It motivates to support and improve it.

[2021-02-04 13:18] rmk135 commented on #387
I'm closing the issue. Feel free to re-open if needed.

[2021-02-04 13:18] #387 closed

[2021-02-05 10:40] Balthus1989 commented on #365
Hi, sorry for the delay of this answer.

I printed the content of the container and I obtained the desiderd result, having on the console all the fields reported in the .ini file

[2021-02-05 13:00] rmk135 commented on #365
Got it. That's expected. Instance of the container and container class are two different objects. When you create container objects, all the providers are copied from container class to the container object. Container class is a reference object. It should never change. When you use wiring, you should use container class: ``customer_plant = Provide[Container.config.customer.customer_plant.as_(str)

[2021-02-05 13:32] Balthus1989 commented on #365
Now it works! Thank you very much :-)

[2021-02-05 13:32] #365 closed

[2021-02-05 14:30] rmk135 commented on #365
Ok, good!

[2021-02-06 15:25] rmk135 commented on #364
I'm working on this feature now. Already have prototype. Plan to release by Monday.

[2021-02-06 15:27] shaunc commented on #364
Great -- thanks!

[2021-02-06 15:31] shaunc commented on #366
Ok -- looking good on a first run-though! In fact, I'm probably a couple months away from actually using this to distribute my workflows. So you've gotten ahead of me! :) 👍

I guess I'll close for the moment. If I run into problems when I start using it more extensively, I can open up issues then. Thank you!

[2021-02-06 15:31] #366 closed

[2021-02-07 17:23] rmk135 commented on #366
Sounds good. Thank you @shaunc .

[2021-02-07 19:56] rmk135 commented on #364
Done: https://python-dependency-injector.ets-labs.org/containers/inject_self.html

[2021-02-08 23:24] rmk135 commented on #364
@shaunc  Closing this issue. Let me know if you have any questions.

[2021-02-08 23:24] #364 closed

[2021-02-08 23:56] shaunc commented on #364
Just a small doc comment/suggestion -- if I didn't know about this feature, I might search for it in "providers." Having the main doc page under containers is fine, but maybe have a link to it on the main "providers" page?

[2021-02-09 12:31] rmk135 commented on #364
Hm,  that's a good idea, you're right. I think I'll just move it under "Providers."

[2021-02-09 13:16] rmk135 commented on #364
Moved: https://python-dependency-injector.ets-labs.org/providers/inject_self.html

[2021-02-09 13:16] rmk135 commented on #364
Thanks @shaunc

[2021-02-09 18:23] gtors opened #393 "A service becomes a _asyncio.Future if it has an asynchronous dependency"
di version: 4.20.2
python: 3.9.1
os: linux

[code]

It's bug or feature? Maybe I miss something in documentation?

[2021-02-09 18:29] rmk135 commented on #393
Hi @gtors ,

It's not a bug. `container.foo()` returns future because it has async dependency.

See https://python-dependency-injector.ets-labs.org/providers/async.html#async-injections
<img width="681" alt="Screenshot 2021-02-09 at 13 26 49" src="https://user-images.githubusercontent.com/1742049/107409943-aba40500-6ada-11eb-8c6d-34aa462ae99d.png">

[2021-02-09 18:35] gtors commented on #393
Oops, I missed it. Thanks for the quick answer!

[2021-02-09 18:35] #393 closed

[2021-02-09 19:27] rmk135 commented on #393
No problems. In case you need any other help - you're welcome.

[2021-02-10 09:57] gtors opened #394 "Context manager for the providers.Configuration"
My proposal is to add the `__enter__` and `__exit__` methods to the `providers.Configuration` class to reduce code duplication and improve the visualization of configuration blocks.

Example of such case:

[code]

[code]

[2021-02-10 12:31] rmk135 commented on #394
Interesting idea. The only concern is: could there be any other features pretending to use configuration provider context manager? - There are none of them on my mind right now. Need to think of it more.

[2021-02-10 12:34] rmk135 commented on #394
Is ``environs`` a third party package or your custom code ``from environs import Env``?

[2021-02-10 13:40] gtors commented on #394
https://pypi.org/project/environs/

[2021-02-10 13:53] rmk135 commented on #394
👍 Thanks

[2021-02-13 15:09] rmk135 commented on #195
Hey, I have released this improvement in version `4.21.0`. Here are a couple  of examples:

[code]

[code]

[code]

Hope that it will help in development.

PS: I'm sorry it took almost 3 years to make it happen, but "later is better than never".

[2021-02-13 15:09] #195 closed

[2021-02-13 16:12] shaunc commented on #195
Beautiful! :)

[2021-02-15 12:37] rmk135 commented on #383
Hey @shaunc,

This is done at `4.22`. Docs: https://python-dependency-injector.ets-labs.org/containers/check_dependencies.html
If you have any improvement suggestions about docs or anything else, drop a line. Appreciate your feedback.

[2021-02-15 16:52] shaunc commented on #383
Great! Thank you so much!

[2021-02-15 19:08] tapm opened #398 "importing fastapi Request object breaks wiring"
Hi!

In the fastapi_di_example.py if we replace the line:

`from fastapi import FastAPI, Depends`

with

`from fastapi import FastAPI, Depends, Request`

we get the following stack trace:

[code]

Note: fastapi Request object is simply reimported from starlette.

Thanks in advance for your time and props for this great project!

[2021-02-15 19:22] rmk135 commented on #398
Hi @tapm , this definitely looks like a bug. Thanks for reporting.

[2021-02-15 19:23] #383 closed

[2021-02-15 22:09] rmk135 commented on #394
Done in version `4.23.0`. @gtors thanks for suggesting the feature.

[2021-02-15 22:09] #394 closed

[2021-02-16 12:33] rmk135 commented on #398
Fixed in `4.23.1`. There already was a similar issue #362 . That seems to be a Python 3.9 bug: `inspect` fails on inspecting `types.GenericAlias` builtin class. I have added a workaround to avoid the error. Hope this will get fixed in Python in 3.10.

[2021-02-16 12:33] #398 closed

[2021-02-16 19:23] tapm commented on #398
Worked like a charm :) Once again, great job! Thanks

[2021-02-18 15:37] marvfinsy opened #401 "Using dynamic containers with Fastapi endpoint."
I have not been able to find any documentation/examples on how to setup an endpoint using dynamic containers. All i've seen is:
def create_transaction(
    dbengine: MyDbEngine = Depends(Provide[DiContainer.dbengine_provider])
    )

Of course this doesn't work for dynamic containers since i have no declarative container called DiContainer. Am i correct here? I'm sure i'm missing something here be

[2021-02-18 21:06] rmk135 commented on #401
@marvfinsy ,

Quick question: you're looking for something like that, correct?

[code]

[2021-02-18 23:24] rmk135 commented on #207
Hi @wiryonolau ,

I've reviewed `easydi`. Great job! I highlighted aliases and dependency groups ideas. I had a conversation with one person from  Scala world who does Scala dependency injection framework. He told me about tag-based dependency resolution principle that they do. That's cool stuff. Something similar to what could be done with groups and aliases. May be these features will appear in

[2021-02-18 23:24] #207 closed

[2021-02-18 23:28] rmk135 commented on #334
Added docs for the ``@containers.copy()`` decorator: https://python-dependency-injector.ets-labs.org/containers/copying.html. Closing the issue.

PS: @shaunc , appreciate your review if you would have some time. Please, drop me a line if there are any improvements on your mind.

[2021-02-18 23:28] #334 closed

[2021-02-18 23:38] shaunc commented on #334
Thanks! In the doc,

1. When might you not want to use it? / A sentence or two explanation/example of what normally happens without. (Without copy, overridden providers are available in the derived container, but base class dependencies continue to be bound to the base class providers.)
2. Perhaps, an example with providing a default value for a dependency with override. (Or something else of the

[2021-02-19 04:05] marvfinsy commented on #401
yes... the only concern i have is how to create the dynamic
container during startup. i would have to somehow have access to it later
during the endpoint call.

On Thu, Feb 18, 2021 at 4:06 PM Roman Mogylatov <notifications@github.com>
wrote:

[2021-02-19 13:21] rmk135 commented on #401
container during startup.

Right, I understand that it might be problematic.

Generally design goes to something like this:

[code]

I can implement `Provide[container.service]`  in a couple of days. String identifiers implementation will take more time. Let me know if you're interested having `Provide[container.service]` earlier. Otherwise I will release it with string identifiers.

[2021-02-19 13:58] rmk135 commented on #247
Dependency Injector has evolved. With the most recent version `4.25.0` example code could look like this:

[code]

It took a while to get there. My apologies about that. Not sure if that is still relevant for you @FallenWarrior2k. May be it will help others. Closing this issue for now. Feel free to comment.

[2021-02-19 13:58] #247 closed

[2021-02-19 14:12] rmk135 commented on #334
Thanks for the feedback Shaun. I have updated the docs with an extra description and example. Hope it looks better now.

I'm glad to hear that. I was going to look for testimonials at some point of time. If you wouldn't mind I would like to ask you about the one. I have a feeling that you're building something great and I believe people would be interested to hear about it.

[2021-02-19 15:02] marvfinsy commented on #401
Morning... l like the idea of the string identifiers... it's well worth the wait...

[2021-02-19 15:51] rmk135 commented on #401
Good morning. Ok, sounds good. I'll keep working on it.

[2021-02-19 16:12] FallenWarrior2k commented on #247
Thank you very much for your hard work. The workaround from back then is indeed still in place, so I'll get around to upgrading and changing it to the proposed solution.

[2021-02-21 16:46] rmk135 commented on #401
Hey @marvfinsy ,

Wiring by string id is ready. You can find docs here: https://python-dependency-injector.ets-labs.org/wiring.html#strings-identifiers

Thanks for sharing the problem.

I'm closing the issue. Feel free to comment.

[2021-02-21 16:46] #401 closed

[2021-02-22 09:25] wiryonolau commented on #207
Hi, thanks for the feedback I'll test it.

[2021-02-22 21:49] marvfinsy commented on #401
cool... thx

On Sun, Feb 21, 2021 at 11:46 AM Roman Mogylatov <notifications@github.com>
wrote:

[2021-02-23 04:27] marvfinsy commented on #401
i've been trying to get things to work without the Container declaration.
no success... the Provide call is returning a object of type :
dependency_injector.wiring.Provide
object at 0x1061c3310>

in code.

def myfunc( dbengine: Provider['dbengine_provider'] )
the variable dbengine now has the type,  dependency_injector.wiring.Provide
object at xxxxxxxxx.
if i try dbengine.provider()... it crashes.

[2021-02-23 13:55] rmk135 commented on #401
Looks like you improperly specified "Provide" marker. It should be specified as argument's default, not type annotation. Change `def myfunc( dbengine = Provider['dbengine_provider'] )`.

[2021-02-23 15:10] rmk135 commented on #337
Started working on this feature. Here is a sample schema for [single container example](https://github.com/ets-labs/python-dependency-injector/blob/master/examples/miniapps/application-single-container/example/containers.py):

[code]

Appreciate you feedback @torotil @mysticfall

[2021-02-23 15:11] rmk135 commented on #338
Closing this issue for now. Feel free to comment if needed.

[2021-02-23 15:11] #338 closed

[2021-02-23 23:06] ecs-jnguyen opened #404 "[Question] What does the @inject decorator do?"
Hi I am playing around with the dependency_injector library and I am trying to find out what the `@inject` decorator does. I have tried this sample program with and without the `@inject` decorator and noticed no difference. Is the `@inject` decorate necessary?

[code]

[2021-02-23 23:30] marvfinsy commented on #401
No that was a typo on my part. Here is the endpoint method:

@router.get("/v1/sticky-settings/{userid}", response_model
=StickyDataResponse)
@inject
def get_setting(
userid: int,
dbengine: MyDbEngine = Depends(Provide['dbengine_provider']),
ourlogger: logging.Logger = Depends(Provide[DiContainer.logger_provider])
):

in this case the dbengine is set as mentioned above. ourlogger is using
standard

[2021-02-23 23:59] rmk135 commented on #401
Alright, I’ll take a look. May be I missed something somewhere.

[2021-02-24 06:12] torotil commented on #337
Awesome, thanks! I’ll try to look into it soon.

[2021-02-24 09:32] mysticfall commented on #337
I think it looks very useful already and thanks much for the great work! :)

On a side note, I originally asked for a feature that would allow me to describe a nested service structure. The example above doesn't seem to cover such a case yet, but I also realised that it may not be a good idea to mix service configurations and user preferences/settings.

To clarify, this was the configuration that

[2021-02-24 14:18] rmk135 commented on #337
@torotil Thanks

[2021-02-24 14:25] rmk135 commented on #337
@mysticfall thanks for the feedback and sharing the use case. I don't have a sample like you need right now, but I'll make sure this use case is supported. I have a sample schema with nested containers. That's not exactly what you're looking for. Could be useful though:

[code]

[2021-02-24 14:47] rmk135 commented on #337
@mysticfall I tried to build your json with current yaml syntax. That's what I got:

[code]

How does it look to you?

[2021-02-24 15:12] rmk135 commented on #401
@marvfinsy ,

Could you check how you call ``container.wire(...)``? Make sure you wire to the proper modules or packages.

<img width="403" alt="Screenshot 2021-02-24 at 10 06 38" src="https://user-images.githubusercontent.com/1742049/109020884-6100bc00-7688-11eb-8755-87d965d308d3.png">

Here is a sample application:
<img width="193" alt="Screenshot 2021-02-24 at 10 06 27" src="https://user-images

[2021-02-24 16:51] rmk135 commented on #404
Hi @ecs-jnguyen ,

That's a very good question. My pleasure to provide an explanation.

Decorator ``@inject`` registers functions and methods in wiring module.

Why that's needed? The answer is in how wiring works. Wiring introspects a module and looks for any functions or methods that have ``Provide`` markers. That works fine, but there are some cases when it's impossible to introspect properly.

[2021-02-24 21:32] ecs-jnguyen commented on #404
@rmk135 Thank you for answering my question! I appreciate the time and effort you guys put into all this!

[2021-02-24 21:51] rmk135 commented on #404
No problems, thanks for asking.

PS: When you say "you guys" it's actually only me for now.

[2021-02-24 22:25] ecs-jnguyen commented on #404
@rmk135 Sorry to message you after you closed the issue. I have 1 more quick question.

I'm trying to find a way to use the `Provide[...]` as much as possible so that there is less setup for each application. I saw that in your I saw in your [application example](https://python-dependency-injector.ets-labs.org/examples/application-multiple-containers.html) that none of the classes in `example/serv

[2021-02-24 22:36] ecs-jnguyen commented on #404
Btw I edited the code. I just realized in my example the `ApplicationContainer` class does nothing in this case.

[2021-02-24 22:36] rmk135 commented on #404
There's nothing bad in it, but I would recommend to gather everything in a single container. Wiring feature role is to ease the integration with other frameworks. Your own code typically could not use wiring. The idea is that you gather everything in the container and then use wiring to inject your components to the framework of your choice. That was an initial idea, but that's not a mandatory rul

[2021-02-24 22:39] ecs-jnguyen commented on #404
@rmk135 Thanks for getting back to me. using the 'string' identifiers should help. Hopefully i don't run into any circular dependencies lol

[2021-02-24 22:45] rmk135 commented on #404
I'm closing this issue. Open a new one if any help needed.

[2021-02-24 22:45] #404 closed

[2021-02-25 00:06] ecs-jnguyen opened #405 "Using aws session to create clients results in "TypeError: client() missing 1 required positional argument: 'self'""
Hi I'm trying to use the boto3 session in a container to create new boto3 clients. I'm running into the error `"TypeError: client() missing 1 required positional argument: 'self'"`. Am I setting this up correctly?

[code]

[2021-02-25 00:58] rmk135 commented on #405
Try to replace ``session.provides.client`` with ``session.provided.client``.

[2021-02-25 01:01] ecs-jnguyen commented on #405
@rmk135 I got a different issue `TypeError: __init__() got an unexpected keyword argument 'service_name'`

[2021-02-25 01:34] rmk135 commented on #405
Alright. I’m away from computer now. Will take a look in the morning.

[2021-02-25 02:21] marvfinsy commented on #401
thx for all ur help... did get it working... "user error" (my error)...

when i updated to 4.26 i had not activated my virtual environment (still
new using this active virtualenv). also when i checked versions i had not
activated the virtual environment. Once i activated the environment i
realized i was still using 4.20. Upgraded active environment and all works.

thx again... ~Marvin

On Wed, Feb

[2021-02-25 13:20] rmk135 commented on #401
Good, nice to hear it works! Thanks Marvin.

[2021-02-25 16:12] rmk135 commented on #405
@ecs-jnguyen here is a working code sample:

[code]

Dependency Injector can call provided object methods and fetch attributes. You can read more about this feature here: https://python-dependency-injector.ets-labs.org/providers/provided_instance.html

I also added an example to the docs with similar example.

PS: A note on ``service2``. Session returns singleton object for the same client ``sessi

[2021-02-25 16:33] ecs-jnguyen commented on #405
In your example I saw you used `Resource`. Is there a reason why you chose `Resource` over `Singleton` or `Factory`?

[2021-02-25 16:44] rmk135 commented on #405
There is no specific reason for using resources in this example.

``Resource`` is like ``Singleton`` with two differences:

1) ``Resource`` could have some shutdown code. This is useful when you'd like to close connections, free resources, etc.
2) You can init and shutdown all resources using container API: ``container.init_resources()`` and ``container.shutdown_resources()``.

Resource provider d

[2021-02-25 16:47] ecs-jnguyen commented on #405
Thank you for clarifying. I was curious because the boto3 objects don't have an `__enter__` or `__exit__` implementation.

Sorry this question is a bit off topic from this issue. What is the difference between `Callable` and `Factory`? From my understanding `Callable` should be used for methods and `Factory` should be used for classes. However they seem to do the same thing because the constructor

[2021-02-25 16:57] rmk135 commented on #405
``Factory`` is a ``Callable`` with the difference that ``Factory`` can inject attributes:

[code]

Your understanding is correct in historical meaning. It was the original idea. With time the restriction on ``Factory`` to accept only classes was removed because there could be factory functions, methods etc

[2021-02-25 16:59] rmk135 commented on #405
There's no documentation on `factory.add_attributes(foo='bar')`. I'll backlog a note to add it.

[2021-02-25 17:02] ecs-jnguyen commented on #405
Thank you! This helped me a lot!

[2021-02-25 17:02] #405 closed

[2021-02-26 07:23] bvanfleet opened #408 "Unable to wire injections, Flask out of context error"
I'm hoping this is just because I'm new at this.

I'm developing an application, and currently working on converting to use dependency-injector. I've written a container and have been able to get configuration and a data store factory working. However, I'm running into an issue when wiring up injections with a Flask blueprint.

When I follow the documentation and call the function to wire the cont

[2021-02-26 13:07] rmk135 commented on #408
Hi @bvanfleet ,

Try execute wiring in application context (like you do for signals on lines 82-83):

[code]

[2021-02-26 15:19] bvanfleet commented on #408
@rmk135

I went ahead and wrapped it with a call to app_context (like you suggested). Unfortunately, the same error as originally posted.

I did take some time to perform additional debugging. It's failing in the `for module in modules` loop in `wiring.wire()` when trying to patch my `routes.acquire` module. I cheated a little by adding a `logging.info` in that loop. It looks like it's finding and

[2021-02-26 15:23] bvanfleet commented on #408
For reference, here's the logs from my application attempting to start up, with my typo'd log entries showing the wire patching:

[code]

[2021-02-26 15:36] rmk135 commented on #408
Got it. That's useful, thanks.

I've seen this error when I did flask examples for dependency injector. I can not recall how a stepped aside of it.

As a workaround, try make wiring before you create `Flask` object. Here is a flask blueprints example from the docs: https://github.com/ets-labs/python-dependency-injector/blob/master/examples/miniapps/flask-blueprints/githubnavigator/application.py#L

[2021-02-26 15:58] bvanfleet commented on #408
I tried making the wiring before creating the Flask app, and I still got the same error :shrug:

I'll see if there's any information I can dig up myself later today. As a dirty hack, I moved the import of the `Flask.request` object into the functions that use it (effectively hiding it from the dependency injector). That was able to bypass the problem and get the server running again.

Thanks again

[2021-02-26 16:01] rmk135 commented on #408
Thank you. My apologies for having it not working properly. I will get it fixed.

[2021-02-26 22:12] rmk135 commented on #408
I was unable to reproduce an issue on my environment. I will try again on weekend.

[2021-02-27 00:33] bvanfleet commented on #408
Yeah, this is weird. I spun up a new project to see if I could try to repro this one and I couldn't. I tried to mirror much of the structure of the project originally referenced above. Still no dice. I may try to reproduce this over the weekend. If not, I have my workarounds and am okay with that for now.

As a side note, it seems like this is because the Flask.request doesn't support any calls to

[2021-02-27 00:40] rmk135 commented on #408
Yep, right. I'm trying to reproduce it now copying parts of your project and still no luck.

This is a dark side of introspection. Sometimes I have to handle certain exceptions, e.g. #362 #398 . I believe that one is sort of similar thing. I would like to fix it so it doesn't bother people if they accidentally get in trouble. But I need to find it first :) Thanks a lot for reporting it and doing a

[2021-02-27 01:34] rmk135 commented on #408
How do you start the server?

[2021-02-27 01:37] rmk135 commented on #408
I've installed the app locally and get it up and running. Guess what? All works :)

[code]

One interesting thing is that log messages appear twice. I have a feeling that there a couple of threads.

[2021-02-27 01:46] wackazong opened #409 "How to handle exceptions"
I have a fastapi example running with your library, I like the clean architecture. However, what is the best way to handle exceptions during dependency resolution?

[2021-02-27 01:53] wackazong opened #410 "Config passed in as dict"
When I use the config object in the container definitions I can use it like an object but when I pass it trough ```Provide``` I get a dict. How can I also get an object here?

[2021-02-27 01:54] rmk135 commented on #409
Could you, please, attach a code sample?

[2021-02-27 01:56] rmk135 commented on #410
You can use different type of marker `Provider`. It will inject provider object. To get a value from the config you need to call the option: `config.option()`.

[2021-02-27 01:59] rmk135 commented on #408
Alright, I'm totally stuck now :) Will give it a few more tries later. If you wouldn't mind, could you please post how do you run the app and what versions of Flask and Dependency Injector you have.

[2021-02-27 02:08] wackazong commented on #410
Great, thanks!

[2021-02-27 12:37] rmk135 commented on #410
You're welcome!

[2021-02-27 12:37] #410 closed

[2021-02-27 12:50] brunopereira27 opened #411 "Inject dependency into a class attr"
Hello,

Sorry if this question already has been answered somewhere but I went through the doc extensively and couldn't find anything.

I would like to inject a dependency for a class attribute, but couldn't find any way of doing it.

Something similar from python-inject:
[code]

Thanks for your help

[2021-02-27 12:55] rmk135 commented on #409
Also could you, please, check the version of dependency injector: `pip list | grep dependency-injector`?

[2021-02-27 13:03] rmk135 commented on #411
Hello @brunopereira27 ,

You can do it with `Factory` provider:

[code]

You didn't find it because I didn't document that. I'm sorry about that. I already have a backlog item to update documentation.

[2021-02-27 13:03] rmk135 commented on #411
The same works with `Singleton` provider btw.

[2021-02-27 13:17] rmk135 commented on #408
I got it!

<img width="1218" alt="Screenshot 2021-02-27 at 08 12 11" src="https://user-images.githubusercontent.com/1742049/109388202-b5e44280-78d3-11eb-8693-77c5d2737822.png">
<img width="941" alt="Screenshot 2021-02-27 at 08 11 39" src="https://user-images.githubusercontent.com/1742049/109388204-b67cd900-78d3-11eb-9c40-241f6ca6d42a.png">

I looked at your traceback and noticed that `werkzeug` ve

[2021-02-27 15:32] rmk135 commented on #408
@bvanfleet
Fixed in version ``4.27.0``. Thanks for reporting the issue and help in finding the root cause. It was a puzzling one :)

[2021-02-27 15:32] #408 closed

[2021-02-27 18:37] brunopereira27 commented on #411
Thanks for your quick answer!

As a consequence, I cannot provide a class attribute is that class is not created through a factory or as a singleton? Isn't there a way to provide a factory to the __init__ function of a class?

[2021-02-27 19:42] mysticfall commented on #337
Yes, it looks great to me. Although, I'm not determined if I should rewrite my current implementation with it since it could be a bit more suitable to be user settings (c.f. service configuration) and supports schema validation (via JSON Schema) also, I think the proposed feature is good enough to cover my use case.

Thanks again for the great work!

[2021-02-27 23:40] Paul-Ilyin commented on #314
I think  that this feature can't be implemented via `ParamSpec`

For example, this signature is actually invalid. The factory provider does not have the same args and kwargs that has the callable passed to the factory. We expect that all args passed to the factory are providers too. And we can't use the PEP612 syntax to specify it.

[2021-02-28 00:44] bvanfleet commented on #408
That's great to hear, I was just about to report that I had a reproducable project that you could have worked with (sorry I was AFK for too long). Thanks again for catching and fixing this for me!

[2021-02-28 15:21] rmk135 commented on #408
Thanks! If any other problems - feel free to open an issue. `PyDAS` is a great project btw!

[2021-02-28 15:39] rmk135 commented on #337
@mysticfall , thanks for the feedback. I keep working on it and I have some updates.

1) I plan to support 3 formats: raw dicts, yaml and json. Container will have 3 corresponding methods:
[code]

2) I simplified the format a little bit:

[code]

I understand that it's questionable if you should migrate to this format from what you have. Seems like your schema has a bit different role. I'm not sur

[2021-02-28 16:52] rmk135 commented on #411
Few things:

-----------

1) You asked:

Yes. You can use `.provider` attribute when specify an injection:

[code]

-----------

2) The closest feature to the initial your initial example is wiring. With wiring you can make an injection into functions and methods. Here is how initial example will look like with wiring:

[code]

You also need to have a container and call ``container.wire()``. You c

[2021-02-28 19:22] wackazong commented on #409
I use `poetry`, `dependency-injector` is installed with 4.27.0. Here is my terminal output after doing a GET request to `http://127.0.0.1:8000/listener/`. The exception that I raise for testing is raised. I would expect that `dependency-injector` passes this exception to `fastapi` and `fastapi` handles it, resulting an a 500 being returned. Instead the request hangs.

	% poetry run uvicorn api.mai

[2021-02-28 23:43] Arrowana opened #413 "Should provider benefit from a context manager like override to reset()?"
The following https://python-dependency-injector.ets-labs.org/providers/overriding.html?highlight=context%20manager is convenient in testing, especially when someone wants to test then teardown. Especially since bad cleanup could pollute other tests.

Could a similar context manager be made for the bare provider so it calls reset() on __exit__ so that the cached instance can be cleaned up automati

[2021-03-01 00:47] rmk135 commented on #409
Thank you for the traceback and test case. There were similar issues in asynchronous mode before. I thought I fixed all of them in `4.23.2` and `4.23.3`, but looks like there are still some issues. I'll take a look and get back to you.

[2021-03-01 00:50] rmk135 commented on #413
Hi @Arrowana ,

That's a good idea. I will add it to the backlog.

[2021-03-01 13:04] rmk135 commented on #411
Done in version `4.28.0`. Docs: https://python-dependency-injector.ets-labs.org/wiring.html#making-injections-into-modules-and-class-attributes

[2021-03-01 14:38] rmk135 commented on #413
I think that the best approach is to expand existing `.reset()` method to return context manager:

[code]

It will reset singleton before and after the context block.

How does it look to you?

[2021-03-01 15:00] rmk135 commented on #409
@wackazong Fixed in `4.28.1`. Thanks for reporting the issue and providing the test case.

[2021-03-01 15:33] wackazong commented on #409
Very cool. Thank you too.

[2021-03-01 23:34] Arrowana commented on #413
I feel that makes it a bit obscure, calling reset only to get the underlying object.
Is there anything that prevents the provider itself from having `__enter__` and `__exit__` ?

[2021-03-02 15:50] wackazong opened #415 "How to deal with multi-level dependencies"
I have the following levels of dependencies in my project

usecases
repositories
gateways
config

These are organized in an approach which looks like the `Application example (multiple containers)`.

If I do unit tests of the usecases I do not want to override all the repositories and gateways. I just want to override the repositories container. How could I e.g. override all gateways in the exampl

[2021-03-02 17:20] rmk135 commented on #411
Closing this issue. Feel free to comment if anything.

[2021-03-02 17:20] #411 closed

[2021-03-02 17:32] rmk135 commented on #413
Got it. Thanks.

It's not an option. There are two reasons:

1) `with potato_provider as p:` doesn't say anything about what happens in the context.
2) only singleton provider provider has `.reset()` method. Other providers will not benefit from this context manager.

I think that context manager interface should be designed in the next manner:

[code]

Method `.reset()` is a good decision because

[2021-03-02 19:10] wackazong commented on #415
I think it boils down to how to mock a `providers.Container`

[2021-03-03 00:14] rmk135 commented on #415
Hi @wackazong ,

You can override `providers.Container` with a container that has mocked provider:

[code]

In testing you could compound overriding with a context manager to clean up the overriding:

[code]

The only problem is that context manager for `Container.override()` is not implemented. I'll go ahead and make it work in a day or two.

[2021-03-03 00:39] Arrowana commented on #413
1. with override(...). So we are overriding and on exit we are resetting the override.
2. with reset(). So we are resetting and on exit we are resetting, oh wait no. We call reset() we get the provider result and on exit we are calling reset().

Understood that we cannot add a context manager directly on the provider since there are different `<what_happens_in_the_context>`

[2021-03-03 01:59] rmk135 commented on #413
Right, so my idea is to reset on enter and on exit. Is that the same you’re thinking about?

[2021-03-03 12:40] wackazong opened #416 "Use DependenciesContainer for config"
Why can't I use a `DependenciesContainer` for inheriting a `Configuration` from a parent `Container`? I have to use `providers.Configuration()` on every level. This makes it tedious to e.g. change `strict=true`

[2021-03-03 15:12] rmk135 commented on #415
This now works properly in version `4.29.0`:

[code]

[2021-03-03 15:16] rmk135 commented on #415
One more option if you're looking to override all repositories: you can create test repositories container subclass and use it with the override method.

[code]

[2021-03-03 15:17] rmk135 commented on #415
I'm closing the issue. Feel free to comment if anything.

[2021-03-03 15:17] #415 closed

[2021-03-03 16:19] wackazong commented on #415
Very cool. Thank you, will try that out in the next tests.

[2021-03-03 18:47] rmk135 commented on #416
``Configuration`` provider is a special type of provider. To use ``Configuration`` provider with a ``DependenciesContainer`` you need to specify it explicitly:

[code]

To avoid specifying config for each container you can move config to the core container. Here is the reworked multiple containers example:

[code]

PS: main module should be updated too:

[code]

[2021-03-03 19:25] JarnoRFB commented on #314
@Paul-Ilyin thanks for clarifying, it looks like you are indeed right and I was a bit too optimistic with this feature. What we would actually need is the ability to transform the signature, like you can do with Mapped Types in typescript https://www.typescriptlang.org/docs/handbook/advanced-types.html#mapped-types . We might still keep an open eye for such a feature coming around or actively ask

[2021-03-04 12:13] wackazong commented on #416
Great, that's what I was looking for. Thanks!

[2021-03-04 12:13] #416 closed

[2021-03-04 21:52] rmk135 commented on #413
@Arrowana ,

I have released it in `with singleton.reset()` form in version `4.29.0`. Here is the docs: https://python-dependency-injector.ets-labs.org/providers/singleton.html#resetting-memorized-object

I hope that could work for you. I'm closing this issue. Feel free to comment if any feedback or suggestions.

[2021-03-04 21:52] #413 closed

[2021-03-05 01:09] Arrowana commented on #413
Cool thank you, that will do. I see, the usage is quite different from what i thought, not returning anything from `__enter__` makes sense.

[2021-03-05 02:59] rmk135 commented on #413
__enter__ returns the provider:

with container.user_service.reset() as user_service:
    ...

You probably didn’t notice the example because I put it as an extra use case after the main example with the context manager.

Roman

[2021-03-05 13:49] #187 closed

[2021-03-06 02:21] rmk135 commented on #245
I fixed this in `4.29.1`. I'm sorry it took almost a year to get there. Later is better than never.

[2021-03-06 02:21] #245 closed

[2021-03-06 04:15] Arrowana commented on #413
I did not see that, anyway thank you, great package

[2021-03-06 13:01] rmk135 commented on #413
Ok, just in case you're still interested:

<img width="1680" alt="Screenshot 2021-03-06 at 08 00 13" src="https://user-images.githubusercontent.com/1742049/110207547-2f3ee080-7e52-11eb-901d-6aadc2852b26.png">

Thank you

[2021-03-08 10:26] Balthus1989 opened #420 "Cannot load pickle file when parameters are passed through Provide"
Hello,
I have a class that is in charge to load some pickle files for a "machine learning" purpose.

Specifically, I call my class, called Regressor, in this way, through the usage of a .ini file reporting all the desired settings:
[code]
When it comes to the "core" part of the code, it fails to load the pickle file:
[code]
The error I get is the following:
```ImportError: cannot import name '_cca

[2021-03-08 14:31] rmk135 commented on #420
Hi @Balthus1989! That's interesting. I'll take a look.

[2021-03-08 14:54] rmk135 commented on #420
I created a naive example and tried if it works with ``pickle``:

[code]

I see no problems so far.

--------------------

I google for this error ``ImportError: cannot import name '_ccallback_c' from 'scipy._lib'``. People recommend to reinstall ``scipy``: ``pip install --upgrade scipy``.

Also if you have things working with factory, try to follow the difference in imports in working or non-work

[2021-03-08 16:38] Balthus1989 commented on #420
I googled the error, but reinstalling scipy didn't work for me.

A clarification: I use a Container which is dinamically imported and shared among several classes. My code was reported in a previous issues, more precisely here: https://github.com/ets-labs/python-dependency-injector/issues/365

[2021-03-08 16:42] Balthus1989 commented on #420
Another important detail: the "working method" uses the following Container class

[code]

Thus, each time I invoke these classes in this way (e.g.):
[code]

[2021-03-08 19:03] rmk135 commented on #420
I can't reproduce it.

[2021-03-08 19:06] rmk135 commented on #420
Could you make a mini-project to reproduce an error?

[2021-03-08 19:29] RockBomber opened #421 "Overrides aren't resetted if container is created in pytest.fixture with scope session or module"
I have a simple example application:
[code]

And couple simple tests for it:
[code]

In tests, I want to create a container exactly once and reuse it in each test.
In some tests, I want to override the behavior of the container member. But only for one test.

But instead, these overrides are not resetted, and they are applied for next tests.

And I am getting the error:
[code]
If pytest.fixture ha

[2021-03-08 20:14] rmk135 commented on #420
I think I've got something. In my case I have an error with numpy: `ModuleNotFoundError: No module named 'numpy.core._multiarray_umath'`.

If I have a module that imports numpy and I use ``register_loader_containers()``, importing of such module cases an error.

[2021-03-08 20:33] Balthus1989 commented on #420
Probably it is implied with the error that I've reported.

If you need a mini-project, just let me know. I will provide it to you tomorrow :-)

[2021-03-08 20:34] rmk135 commented on #420
I think I got it fixed. I'll publish a hotfix release in an hour. It will fix import errors for both numpy and scipy.

[2021-03-08 21:35] rmk135 commented on #421
Hi @RockBomber , looking at it.

[2021-03-08 22:04] rmk135 commented on #421
The issue with ``test_2`` comes from a side effect of using singleton for the service. When test 1 is executed singleton is initialized with overridden value. When test 2 is executed, resource is not overridden anymore, but service singleton still keeps memorized instance from test 1.

To avoid this issue you can reset singletons:

[code]

See: https://python-dependency-injector.ets-labs.org/provi

[2021-03-08 22:26] rmk135 commented on #420
I published the fix in version `4.29.2`. Try to upgrade and and see if error goes away.

[2021-03-09 06:58] RockBomber commented on #421
Thanks for the help!
I solved it with adding function scope fixture like:
[code]

[2021-03-09 06:58] #421 closed

[2021-03-09 12:20] rmk135 commented on #421
No problems, thanks for the question!

[2021-03-09 16:01] Balthus1989 commented on #420
Ehi, now everything works.

I'm much obliged, thank you!!!

[2021-03-09 16:39] rmk135 commented on #420
No problems, I'm glad everything is working! I'm much more obligated to you since your feedback helped to improve the dependency injector. Thank you!

[2021-03-09 16:39] #420 closed

[2021-03-10 10:32] wackazong opened #423 "Exception handling"
When my resource provider causes an exception here, it is leaked to ASGI and not handled correcly here it seems:

https://github.com/ets-labs/python-dependency-injector/blob/ee89476db03b0dfaf6dd94d38cd9d8ceedfc4c9f/src/dependency_injector/providers.pyx#L3471

This is my resouce init method

    async def init_redis(url: str) -> AsyncIterator[Redis]:
        pool = await create_redis_pool(url)

[2021-03-10 14:20] rmk135 commented on #423
Thanks @wackazong , will take a look later today.

[2021-03-10 18:55] rmk135 commented on #423
I'm not sure I got it: `it is leaked to ASGI and not handled correctly`. Could you describe what do you mean?

I deployed clean `FastAPI` application with endpoint that always raises an exception. Traceback looks the same:
[code]

[2021-03-10 20:46] wackazong commented on #423
Sorry for being unclear. What I mean is: the exception is not caught by the
exception handlers of FastAPI or my code. If I throw an exception in a
FastAPI router I get a nice JSON response from FastAPI and no full stack
trace in the log (because the exception is handled). Here, the stack trace
appears in the log and I get a text response "Internal Server Error" (and
my exception handler implemente

[2021-03-10 20:57] rmk135 commented on #423
Alright, it clarifies the situation. I'm wasn't familiar with FastAPI error handler, but I'll get to know how that works. Thanks for explanation.

[2021-03-11 11:34] atten opened #424 "Erroneous initialization of Resources"
After upgrading from `4.10.1` to `4.29.2`, I noticed that some Resources which remained unitialized in prior version unexpectedly started to initialize during `init_resorces()` call. The **Selector** provider initializes all nested resources disregarding selector key:

[code]

Output:
[code]

Expected output:
[code]

Both resources are iitialized even if `db_type` is unspecified, which is nonsence

[2021-03-11 13:32] rmk135 commented on #424
Hello @atten ,

Method `container.init_resources()` initializes nested resources since version `4.14.0`. Here is an entry from the changelog:

I'm sorry that this change affected you negatively. I didn't realize the Selector + Resource use case.

[2021-03-11 13:35] rmk135 commented on #424
If you're looking for a workaround, you could stop calling `container.init_resources()`. It will make the initialization work lazily.

[2021-03-11 13:58] rmk135 commented on #423
@wackazong ,

I created such sample code:

[code]

There are two endpoints: with and without dependency injector. Both produce same traceback:

[code]

Seems like the exceptions are handled the same way by FastAPI. Dependency Injector doesn't cause any degradation.

[2021-03-11 14:00] rmk135 commented on #423
If you'd like to handle all exception and return json you need to install custom FastAPI exception handler:

[code]

PS: this is not a Dependency Injector feature, it's FastAPI stuff. See: https://fastapi.tiangolo.com/tutorial/handling-errors/#install-custom-exception-handlers

[2021-03-11 14:02] wackazong commented on #423
Thanks for going into the detail here. Ok, let me verify this on my side.

[2021-03-11 15:54] wackazong commented on #423
I can confirm this 100%. Thanks!

[2021-03-11 15:54] #423 closed

[2021-03-11 17:10] rmk135 commented on #423
Good, thanks @wackazong .

[2021-03-11 17:38] rmk135 commented on #424
@atten , I think that ``container.init_resources()`` behaviour should keep initialize nested resources by default. This covers a use  case when there is nested containers setup.

I could add a parameter to initialize only flat resources `container.init_resources(nested=False)`. How does it look to you?

[2021-03-11 17:39] rmk135 commented on #424
Or if lazy option with having no `container.init_resources()` call would work, I could leave it as it's now.

[2021-03-11 17:48] atten commented on #424
As a user of your package, I need to initialize resources which are enabled by Selector and keep disabled ones untouched (as it worked prior to `4.14.0`. What you suggest with `nested=False` doesn't solve this problem.

The example in the first message demonstrates a program with 2 databases (production-ready and testing) with a selector. Do you think that attempt of initializing both of them disr

[2021-03-11 18:47] rmk135 commented on #424
No. It's not a good idea.

---------------------

Selector and resource providers do not work the same way you described. Method `container.init_resources()` should initialize all resources in the container. Prior to version `4.10` this method didn't initialize nested resources. So if you redesign your example a bit you will get in the same trouble like with latest version:

[code]

Output:

[code

[2021-03-11 21:07] wackazong commented on #416
I have to use it then like `Provider[Application.core]`, I cannot do `Provider[Application.core.config]`. Then the configuration does not seem to be wired. Is that expected?

[2021-03-11 21:52] rmk135 commented on #416
It should work properly. I've just tested locally. Double-check the naming. Here are the samples:

[code]

[code]

[code]

[2021-03-12 14:25] rmk135 commented on #424
Yep.

I understand. In fact selector does not "disable" a resource. It just selects the proper resource in runtime. At least this is how current implementation works.

As a short term plan, I can add example above to the resources docs. Long term, need to think of the design. Idea of disabling selector looks interesting. Fairly saying it even could be a new provider `ResourceSelector`.

[2021-03-12 16:41] maxlavr opened #425 "Create own debian package with version 3.44.0 of python-dependency-injector"
Hello everyone, my name is Max and my profession is DevOps. Out company are working with some software that requires python-dependency-injector as a dependency. We need to build this dependency from source and use the package because it is a security requirement. But I haven't find any debian repo with instructions and directory "debian" in https://salsa.debian.org/public or in this repository.  I

[2021-03-12 21:08] rmk135 commented on #425
Hi @maxlavr ,

Version `3.44.0` contains some Python 3 files. Seems like the installation fails when you install on Python 2. That's sort of unexpected because Python 3 files should not be used in that case.

I would love to help fixing that. I'll try to build debian package and get back to you.

[2021-03-12 21:29] wackazong commented on #416
Got it. Copy/Paste problem. Thanks again.

I put the line `core = providers.DependenciesContainer(**Core.providers)` also in the `Application` class.

[2021-03-12 21:48] rmk135 commented on #416
Got it, no problems. Great that all works now.

[2021-03-13 19:22] maxlavr commented on #425
**Thank you** @rmk135 !!!  I will wait you and also I have more additional information for you!
I forked your repository and pushed my own debian instructions in `debian/3.44.0` branch. Maybe they will help you.

But I have observed strange behavior.  My debhelper configured to build package with `--buildsystem=pybuild`.
All python instructions pass in this [line](https://github.com/maxlavr/python

[2021-03-15 20:01] rmk135 commented on #425
@maxlavr I'm a bit overwhelmed with other project, will get back in a day or two.

[2021-03-16 13:54] mxab opened #426 "Strange FastAPI request body mapping error when injecting an "@injected" method"
Hi,
I'm having a strange behavior when I use the `python-dependency-injector` `@inject` + `Provide` marker on a method that is used as a factory method for FastAPI's `Depends()`

[code]
when I test this method, it fails with a 422 status code. It looks like request body is not send to FastAPI then.

[code]

If I remove either the
[code]
in the router signature or in the `valid_user`
the `settings:

[2021-03-16 14:27] mxab commented on #426
I noticed that if wrap `settings: AuthSettings = Provide[Container.settings],` with a `Depends` it seems to work
e.g.:
`settings: AuthSettings = Depends(Provide[Container.settings]),` but is this a requirement in that case?

[2021-03-17 09:42] nhdinh opened #427 "FastAPI / enable wiring for the DynamicContainer"
Hello, I am struggled to implements FastAPI endpoints to work with DynamicContainer, something like this:

[code]

I can get an instance of `rating_services` after `populate_container` by calling `container.rating_services()` but cannot find a way to inject into FastAPI endpoint. Everytime making a request to `/rate` endpoint, FastAPI will response that:

`
AttributeError: 'Provide' object has no

[2021-03-19 12:54] rmk135 commented on #426
e.g.:
settings: AuthSettings = Depends(Provide[Container.settings]), but is this a requirement in that case?

Hi @mxab ,

Yes, you need to use `settings: AuthSettings = Depends(Provide[Container.settings])`.

This is a FastAPI requirement, not a Dependency Injector one. FastAPI looks for all typed arguments that don't have `Depends` directive as a part of request. If you'd like you can do: `settin

[2021-03-19 13:06] rmk135 commented on #427
Hi @nhdinh ,

There are two things missing in your example:

1) Add `@inject` decorator for the endpoint
2) Wire container with current module `container.wire(modules=[sys.modules[__name__]])`

Here is a working sample with comments:

[code]

[2021-03-19 13:43] mxab commented on #426
Hi,
this makes sense. Thanks a lot :)

[2021-03-19 13:43] #426 closed

[2021-03-19 17:24] nhdinh commented on #427
Hi @rmk135

Thanks for the reply. But just to mention here is that I am using `DynamicContainer` which don't allow me to `wire` the instance with the application module. Therefore, the `@inject` which I tried already also did not execute.

BTW, just to make clear why I want to use the `DynamicContainer` here. It's because the `RatingModule` and `ProductModule` which has the `RatingServices` and `P

[2021-03-19 17:35] rmk135 commented on #427
Why do you say that you can not wire dynamic container? That's how you do it:

[code]

Am I missing anything?

[2021-03-19 17:44] nhdinh commented on #427
I've got an exception while make it wiring: "Can wire only an instance of the declarative container"

<img width="2672" alt="Screen Shot 2021-03-20 at 00 41 03" src="https://user-images.githubusercontent.com/5628052/111821567-64990300-8915-11eb-88db-191731f33de8.png">

[2021-03-19 17:44] rmk135 commented on #427
You could have a declarative container with a `Dependency` provider. This `Dependency` provider could be overridden in runtime.

[code]

[2021-03-19 17:46] rmk135 commented on #427
Oh, gosh, I'm so sorry...

I tested the code from previous comment on a branch where this exception is already removed. I'll release that change and you would be able to wire dynamic container.

Apologies for a confusion.

[2021-03-19 17:49] nhdinh commented on #427
That will be great. By the way, I just find a workaround for this by making a `DeclarativeContainer` with a factory method. The factory method will discover all the installed modules, collect their declared containers and mount into the ApplicationContainer which is created on-the-fly.

The ApplicationContainer can be wired easily.

[2021-03-19 20:27] dcendents opened #428 "Propagate configuration values on multiple containers"
Hi,

I'd like to use mutiple containers like in the example: https://python-dependency-injector.ets-labs.org/examples/application-multiple-containers.html

But I have the following problem, my factories use the first configuration value and ignore the new values.
If I use a single container it works fine.

Here is an example that re-create the problem:

[code]

I'd appreciate if you could tell me

[2021-03-20 01:03] rmk135 commented on #428
Hi @dcendents ,

Cool finding. That's definitely a bug. Configuration provider has a cache. It uses cache to avoid traveling for the value to a root provider. In that case cache root provider does not reset cache for a child config provider in a child container.

The workaround is to manually call `container.core.config.reset_cache()`. I'll also publish a fix on PyPI. Thanks for reporting the issu

[2021-03-20 01:18] rmk135 commented on #427
I've published version `4.30.0` that removes restriction on wiring a dynamic container. My apologies again for the confusion :) Closing the issue. Feel free to comment.

[2021-03-20 01:18] #427 closed

[2021-03-21 02:43] rmk135 commented on #428
@dcendents I've published a fix in ``4.31.0``. Thanks again for reporting the issue.

[2021-03-21 02:43] #428 closed

[2021-03-21 17:05] rmk135 commented on #425
@maxlavr ,

I've played a little with your branch. I was able to build a package and install it on Python 2:
[code]

However it all was quite buggy (there are a lot of different errors and warnings if you follow the log).

Here are the changes that I've done:

[code]

[2021-03-21 21:29] dcendents commented on #428
Thanks @rmk135 it was quick and indeed `4.31.0` fixes the problem.

[2021-03-22 01:54] zero-shubham opened #431 "service is not being injected, instead Provide object is present"
[code]

[Public Repo of the code](https://github.com/zero-shubham/flask_tm/blob/master/tm/tm/auth/routes.py)

Getting error - **AttributeError: 'Provide' object has no attribute 'get_token'**

I'm wiring the contain with the whole package. (check main.py)

[2021-03-22 06:41] maxlavr commented on #425
@rmk135 Thank you for the answer!

I have the same logs output while buildiing, but package is installing correctly. We done some test of our software which use `python-dependency-injector`. The results tells us it working properly.
But I doubt a little because we have some warnings in the logs while building. The main  problem in these strings:
[code]
I have some experience in creating `deb` pack

[2021-03-22 14:31] rmk135 commented on #425
Hi @maxlavr ,

No worries, that's ok.

Dependency Injector does not load these modules when work on Python 2. These errors come from the deb installer. I'm also curious why it doesn't fail on the error. That seems to be a `pybuild` "feature".

[2021-03-22 14:37] rmk135 commented on #431
Hi @zero-shubham ,

Wiring doesn't work cause `tm.tm.auth` doesn't have `__init_.py` file. Add `__init__.py` into this folder https://github.com/zero-shubham/flask_tm/tree/master/tm/tm/auth.

Folders without `__init__.py` files are not considered as packages. When Dependency Injector does introspection, it doesn't see this package.

[2021-03-22 16:23] saulbein opened #432 "Resource shutdown ignores dependencies between resources"
First of all, thank you for the great library.

I have encountered an issue with a bit of an unusual case of having dependencies between resources where both of them have cleanup, and the order of the cleanup matters. This is the container we are using:
[code]

Resource initialization works completely fine, the session gets initialized before the token. But at shutdown of the application, we tried

[2021-03-22 16:40] rmk135 commented on #432
Hey @saulbein ,

That's an interesting case. Thanks for opening the issue. Yep, that's something that would be cool to work out of the box. There could be a couple of ways it could be implemented. I'll think of it and get back in a while.

As a workaround I would suggest to manually shutdown resources in a proper order.

[2021-03-22 17:11] zero-shubham commented on #431
@rmk135 thanks a lot! That was exactly what the problem was, I think this __init__.py file is a very common misunterstanding for any first time user, this should be decumented.

[2021-03-22 17:11] #431 closed

[2021-03-23 05:12] garlandhu opened #433 "ThreadSafeSingleton provides None if called from separate thread while an earlier call is still processing."
Hello, `4.6.0` seems to have created an issue with `providers.ThreadSafeSingleton`.

If the singleton object to be created has a lengthy init time, and the provider is called a second time while the first one is still being created from a seperate thread, the second call returns None instead of the object.

You can recreate this issue with the example below.

	import threading
	import unittest
	fr

[2021-03-23 14:27] maxlavr commented on #425
@rmk135 Yes, `pybuild` does not consider this a critical error, so it continues building the project.

I have a desire to modify this package by adding documentation to it, correct changelog file and send it to you for  open use if you don't mind. First of all I need from you only your consent or lack thereof)))

I can prepare a source package with edited build instructions, send you a link for re

[2021-03-23 15:02] rmk135 commented on #425
Yep, you got it :)

Sounds good.

Wonderful. Great news!

[2021-03-23 15:05] rmk135 commented on #433
Hi @garlandhu,

Thanks for reporting the issue. I'm sorry to hear that error was introduced in `4.6`. I'll work on a fix ASAP.

[2021-03-24 02:15] rmk135 commented on #433
Fixed in version `4.31.1`. @garlandhu thanks again for reporting the issue.

[2021-03-24 02:15] #433 closed

[2021-03-26 08:29] wackazong commented on #416
For `s3_client=...` in `Gateways` I get a mypy warning: `Provider[Any] has not attribute aws_access_key_id`. I tried some thing bu I cannot figure out how to annotate this. Could you give me a hint maybe?

[2021-03-26 09:07] daniel55411 opened #435 "providers.Dict does not work with non-string keys"
Hello!

I am trying create `providers.Dict` with non-string keys and getting `TypeError: set_kwargs() keywords must be strings`. Is this error? Or maybe am I doing something wrong?

[code]

[2021-03-27 16:51] saledemon opened #438 "Wiring not done correctly with PyInstaller"
Hi, first off, I'd like to say thank you for this amazing library. So easy to use and so efficient.

Now, the problem I have is that my project runs perfectly when I simply run the python script, but when I bundle it into an exe with PyInstaller, it raises this error :

`TypeError: 'Provide' object is not subscriptable`

I have tested the following :

    class Main:
      def __init__(self):

[2021-03-29 13:01] sonthonaxrk opened #439 "ContextVar scope?"
Hey there,

I see you have a threadlocal scope provider.  However do you have a co-routine local scope provider that would use ContextVars rather than thread locals?

Would that be trivial to implement (happy to do it myself if you think it's a good idea).

[2021-03-29 13:14] sonthonaxrk commented on #363
👍  I think having contextvar scope would a good idea anyway.

[2021-03-29 19:44] ssheng opened #441 "Wire without cascading import"
First of all. Thanks for creating and maintaining this great library. I have a question regarding wire.

It seems like wire does a pkgutil.walk_packages and import all modules through importlib.import_module. This prevents the ability to lazily import dependencies as they are needed especially when there are large libs like numpy and grpcio involved. What is the recommendation to wire without casc

[2021-03-30 20:06] rmk135 commented on #438
Hi @saledemon,

Could you, please, check what version of Python you run when application is packed by PyInstaller?
I fixed a similar issue some time ago. It was related to a specific Python version. May be there
is something specific with PyInstaller or its Python version. It should be easy-fixable, but
we need to localize the issue first. Thanks for bring up the issue!

Best,
Roman

[2021-03-30 20:07] rmk135 commented on #435
Hi @daniel55411 ,

Fixed in version `4.31.2`. Thanks for reporting the issue. It's a regression of one of the recent changes. I'm sorry it was there.

Best,
Roman

[2021-03-30 20:10] rmk135 commented on #439
Hey @sonthonaxrk. Yep, that's a good idea. I see your PR, thanks for the input.

[2021-03-31 09:00] sonthonaxrk commented on #439
Thanks @rmk135.  I'm running my PR in a little PoC project right now and seeing if there are any kinks that I need to work out.  I'll probably find some time on the weekend to tidy it up and make it backwards compatible in a few days, and put it in a releasable state :)

[2021-03-31 10:46] ssheng commented on #441
Thanks, @rmk135 for the quick response. `register_loader_containers` seems like the solution i'm looking for.

However, I'm getting the following error. I've tried `brew install gdbm` and `conda install gdbm` without success. I tried this in Python 3.6, 3.7, and 3.8. Python 3.9 gives a different error I guess we can discuss separately.
[code]

Thanks,
Sean

[2021-03-31 13:34] saledemon commented on #438
My Python version is 3.9.2 and PyInstaller is 4.2

I read somewhere that some problems arise if you download PyInstaller with pip and that sometimes it's better to download it some other way... I'll look around for this solution, maybe the problem is there somehow

[2021-03-31 13:42] rmk135 commented on #439
Sounds good. I’m on vacation this and following week. Will join you after that.

Best,
Roman

[2021-04-07 10:25] sonthonaxrk commented on #439
@rmk135 hey Roman,

I've updated the PR.  Things should be working now.

[2021-04-08 13:54] milokmet opened #443 "ListProvider with config from yaml"
Hello Roman, I am playing a little bit with dependency_injector and I don't know, how could I configure in yaml and write into Container ListProvider next example:

Is it possible to rewrite this with dependency_injector?
[code]
And the yaml confg should like like this:
[code]
Will it be possible to detect by type of config? If config.source will be dict, it will configure the source by type direc

[2021-04-08 15:21] rmk135 commented on #443
Hi @milokmet ,

Good question. No, there is nothing for now you could use to make it work out of the box. You need to have a factory method. Here is a closest implementation:

[code]

There is a new feature in the development to cover that type of cases: build container from schemas. That's how example schema looks like:

[code]

Follow #337 if you're interested.

[2021-04-08 15:32] milokmet commented on #443
Wow. I didn't expect an answer so quickly. Thank you very much. I am going to try it. The container builder from schema looks interesting.

[2021-04-08 15:37] rmk135 commented on #443
Ok, cool. Let me know if you need any other help.

[2021-04-12 18:28] ecs-jnguyen opened #444 "Resource Provider does not call __enter__ and __exit__ functions"
I noticed that using `provider.Resource()` with `container.init_resources()` and `container.shutdown_resources()` does not call the `__enter__` and/or `__exit__` methods for a class or the `@contextlib.contextmanager`. For initializing and shutting down resources I had to make a wrapper method without `@contextlib.contextmanager` in order to call the `__enter__` and `__exit__` methods. Is this int

[2021-04-15 05:28] ShvetsovYura opened #445 "Using with Class Based Views FastAPI"
Hi! Please, if possible, help me using DI with Class Based Views FastAPI.
https://fastapi-utils.davidmontague.xyz/user-guide/class-based-views/

Спасибо!

[2021-04-16 10:51] Timtam opened #446 "Question: how to dynamically add providers to root container"
This is just a question, since i'm unable to figure this out on my own by just reading the docs.
I'm currently trying to rewrite one of my apps to use dependency injector. I have an app context which is known at runtime and needs to be added to the one container I have in my app. The container is declared in an additional file. The entry file then imports the container, sets it up and is ment to a

[2021-04-16 12:20] wackazong opened #447 "Overriding in Provide"
Hi there, I am slowly learning on all the intricacies of your package. It's sometimes to too easy to graps the concepts but it's fabulous how it all fits together.

One question: I use your package with FastAPI to inject external connections, gateways and usecases. One problem is the request-based session. I can acquire that in the controller which handles the request. In that controller I also re

[2021-04-19 02:50] rmk135 commented on #439
Published on PyPI in version `4.32.0`. Many thanks to @sonthonaxrk for giving a life to this provider.

[2021-04-19 08:29] sonthonaxrk commented on #439
Thanks man. I’ll update the documentation soon.

[2021-04-20 06:14] satodaiki opened #448 "Create an instance of providers.Singleton at the same time as fastapi starts."
Hello.

As the title suggests, what should I do with the definition of providers.Singleton that instantiates at the same time as fastapi starts!

I want to generate the following "manager" at the start of fastapi.
(Dependency injection of application_service in manager may be implemented incorrectly.)

[code]

Do you have any good ideas?

[2021-04-20 15:41] laukhin opened #449 "Async resources init order"
Hi!

We've started to use dependency-injector in production recently and we're happy so far, but we've faced issue with async resources initialization order. The problem is that according to the source code async resources init methods runs concurrently using asyncio.gather https://github.com/ets-labs/python-dependency-injector/blob/155f59869922de2c0ae57ab2e77d85655e15f21b/src/dependency_injector/

[2021-04-20 16:13] rmk135 commented on #449
Hi @laukhin ,

There is no way to initialize resources in a certain order with ``container.init_resources()`` right now. As a workaround you initialize the resources in explicit order in a blocking fashion:

[code]

Looks like the proper solution here is to implement some sort of priority mechanism for the ``Resource`` provider. Need to think of interface for this. Also interface suggestions (or a

[2021-04-21 08:26] mxab opened #450 "Async resources providers in list providers"
Hi,
I'm trying to use async resources with list providers but it doesn't seem to work

[code]

if I remove the `async` from the `create_resource` function and the `await` infront of `container.printer()` it works.

Is there anything I missed or is it currently not supported?

[2021-04-21 16:44] laukhin commented on #449
I see a couple of options for interfaces here

1. we could explicitly declare the dependencies list
[code]

2. or we could go django-way and make something like this
[code]

Personally, i like first approach, it's user-friendly, but it could be tricky to build dependencies graph from it with more complicated cases. Second approach is more cryptic, but potentially easier to implement. Seems like in

[2021-04-23 21:14] sjosegarcia opened #451 "Attribute error on updater"
For some reason I am getting an attribute error. Here is the stack:
dependency-injector = ">=4.32.0"
[code]
bot_service.py
[code]
bot_container.py
[code]
start_web.py
[code]
bot_endpoints.py
[code]

[2021-04-25 05:45] jack-michaud opened #452 "yright: @injected providers are not type checked"
When using [Pyright](https://github.com/microsoft/pyright) for typechecking, injected provider arguments raise type errors.

For example, in the flask miniapp (`examples/miniapps/flask/githubnavigator/views.py`
The full output from running `pyright githubnavigator/views.py` from the root of the flask example app is below:

[code]

#### Sidebar
As a sanity check, I ran mypy on the same file (`mypy

[2021-04-25 05:53] jack-michaud opened #453 "@injected providers are not typechecked"
Semi-related to #452.

When using `@inject`, any arbitrary provider `T` may be provided as an argument to Provide when injecting a provider without a type error.

For example, in the Flask miniapp, in `examples/miniapps/flask/githubnavigator/views.py`, replacing:

[code]

with

[code]

results in no issues when running `mypy` on this file:

[code]

[2021-04-25 17:25] rmk135 commented on #449
I also like first approach more. I would leave `dependencies` for a potential kwarg and transform it to something like this:

[code]

How does it look to you?

[2021-04-25 17:34] rmk135 commented on #450
Hey @mxab ,

Yeah, this is a bug. Thanks for reporting this. Working on the fix.

[2021-04-25 22:45] rmk135 commented on #450
@mxab Fixed in `4.32.1`.  Thanks again for bringing this up.

[2021-04-25 22:45] #450 closed

[2021-04-26 02:39] rmk135 commented on #451
Hi @sjosegarcia ,

This error occurs because you use `Provider` wiring marker. It injects provider, but not an instance provided by provider. To fix the problem use `Provide` marker:

[code]

[2021-04-26 02:44] rmk135 commented on #452
Hi @jack-michaud. I never tested Dependency Injector with Pyright. Thanks for bringing up the issue. I don’t know yet if there is a way to get these errors fixed.

[2021-04-26 02:47] rmk135 commented on #453
Hi @jack-michaud , yeah, mypy does not detect this. I don’t know if there is a way to make it do that. Seems like Pyright does similar checking, but as you mentioned in #451 it causes a different problem.

[2021-04-26 02:48] rmk135 commented on #453
I see you point totally reasonable but I’m not yet sure how to implement this.

[2021-04-26 06:34] mxab commented on #450
Nice! Will try today

[2021-04-26 11:57] laukhin commented on #449
To summarize: you suggest to drop kwargs approach and simply make method `add_init_dependencies` for the resource as an interface?
If it is, LGTM! I could work on it if you don't mind 🙂

[2021-04-26 23:07] rmk135 commented on #451
Closing the issue. Feel free to comment or open a new issue if you need any other help.

[2021-04-26 23:07] #451 closed

[2021-04-26 23:17] rmk135 commented on #444
Hi @ecs-jnguyen ,

Yes, `Resource` provider supports generators but not support context managers: https://python-dependency-injector.ets-labs.org/providers/resource.html#generator-initializer

Generator-based initializer is a 2 phase generator. First phase is responsible for resource initialization and should yield resource object. Second phase is responsible for resource shutdown.

Do you look fo

[2021-04-26 23:26] ecs-jnguyen commented on #444
@rmk135

ah i see the difference is between generators and context managers.

From my understanding the `Resource` provider is used to initialize the resource with the `init_resources()` method and clean up resources with the `shutdown_resources()` method.

Generators can return multiple values i.e. have multiple `yield` statements in a method. Would it be better for the `Resource` provider to mak

[2021-04-27 01:24] ecs-jnguyen commented on #444
@rmk135

I'm trying to see how to use the `Resource` provider properly with a context manager. If I wanted to use a class that has an `__enter__` and `__exit__` method, would I have to create a wrapper method like below?

[code]

[2021-04-27 02:06] rmk135 commented on #441
Hey @ssheng ,

The issue comes from wiring not properly working with `six._MovedItems`. Working on the fix.

[2021-04-27 02:16] rmk135 commented on #444
Yeah, `Resource` provider doesn't support context manager interface so you need a wrapper.

I'll add a backlog item to implement context manager interface support.

As a temp alternative you might want to take a look at this subclassing solution:
[code]

Docs: https://python-dependency-injector.ets-labs.org/providers/resource.html#subclass-initializer

[2021-04-27 02:33] rmk135 commented on #449
Yes, correct. The only difference is that I think we could remove "init" from the method name ``add_dependencies()``. Here is a complete example:

[code]

That would be nice if you could help with it. We could use slack to communicate faster. Here is a dependency injector slack link:
https://join.slack.com/t/ets-labs/shared_invite/zt-pqbw3869-IZkpiLLFkev9LmlAuChyww

[2021-04-27 02:35] rmk135 commented on #449
@laukhin Btw, there is a similar problem with a shutdown, look at #432

[2021-04-27 03:04] rmk135 commented on #441
@ssheng fixed in version `4.32.2`. Please upgrade. My apologies that you had to wait for the fix so long. Closing the issue. Feel free to comment.

[2021-04-27 03:04] #441 closed

[2021-04-27 10:07] platipo opened #454 "Injection on a decorator"
Hi, I really like this package and am using it in production. I was tying to mess around with decorators because I want to add side effects to a function, adding a `secret_number` in the example. I was expecting `decorated_function_1` to work but it didn't and I can't wrap my head around it. Is this an expected behavior? Could injection be supported like in `my_decorator_1`?

I also added few exam

[2021-04-27 10:52] laukhin commented on #449
thx, i've just joined your slack workspace (by email laukhin97@gmail.com) :) i'll contact you if any questions arise

[2021-04-28 07:33] #346 closed

[2021-04-30 16:22] c650 commented on #159
Hey there,

I found this while exploring an issue. I'm running a Connexion (Flask+Swagger) app and I used `@inject` to provide some `ThreadSafeSingleton`s. Sometimes they were `None` (due to synchronisation?), but it seems to work if I hide them behind another resource that is a `providers.Factory`. Is this intended?

I was expecting that the provider would block until it could get the `ThreadSafe

[2021-05-02 08:55] ssheng commented on #441
Thanks for the resolution, @rmk135. I upgraded to version `4.32.2` and confirmed the ModuleNotFoundError has been solve.

However, I ran into another issue which could be specific to the project I was working on. I was getting the following error message suggesting that `multiprocessing` start method has been set to `fork`. Using `wire()`, on the other hand, does not result in the same error.

[co

[2021-05-03 17:47] rmk135 commented on #441
Hi @ssheng ,

`register_loader_containers` does not set multiprocessing mode. I googled for this error and found this link: https://stackoverflow.com/questions/30669659/multiproccesing-and-error-the-process-has-forked-and-you-cannot-use-this-corefou. Try to set start method to "spawn" as suggested.

Also when you set multiprocessing start method you might need to initialize DI explicitly again. Ch

[2021-05-07 08:54] ssheng commented on #441
Thanks, @rmk135. I managed to get it work with some refactoring. The issue was not related to spawn but Gunicorn.

I found out that the performance of a CLI tool we built using dependency-injector became significantly slower after using `register_loader_containers`. The code seems to perform a `wire` operation on each module import.  Is the performance degradation expected?

CLI timing with `wire`

[2021-05-12 07:39] moon-bits opened #455 "Resource Factory for Short-Lived Session Objects"
Hi @rmk135

You did a great job with this library! Thank you very much for that!

Yet, I'm having a hard time with a very common approach when using `Resource`: A database session should be created for each
 instance of `get_user`.

[code]

But when running the application, it only creates ONE database session for the whole lifetime of the application, not `N` (_the number of API calls_).

How is

[2021-05-13 18:09] sjosegarcia commented on #451
Sorry about the late response, but now I ran across another issue. I was wondering what might be causing this?
[code]
bot_container.py
[code]
bot_endpoints.py
[code]

[2021-05-13 20:52] sjosegarcia commented on #451
I fixed the issue above, and I am in a full circle. It now displays the same error above.

[2021-05-13 23:06] sjosegarcia commented on #451
I got it working. I am closing the issue. I needed to add the config into the container.

[2021-05-14 12:25] moon-bits commented on #445
What did you try already?

[2021-05-17 07:35] moon-bits commented on #455
@rmk135 do you need more information? I'm currently stucked in my project due this obstacle :crying_cat_face:

[2021-05-17 17:51] rmk135 commented on #455
Hey @moon-bits ,

You need to shutdown resources explicitly. In that case resource will be initialized again and you'll have a new database connection for each ``get_user()`` call.

For instance, if you use ``Flask`` and you'd like to have a "request scope" singleton, that's what you can do: https://python-dependency-injector.ets-labs.org/providers/singleton.html#implementing-scopes

You can make

[2021-05-17 18:02] moon-bits commented on #455
Hi @rmk135 ,

I see. I wanted something more out-of-the-box by not calling `.reset()` or `.shutdown()` explicitly.

Do you think my use case can also be achieved by a `Factory` instead of a `Resource`? If so, how would you refactor the above mentioned code?

Thanks again for your help and work!

[2021-05-17 19:10] rmk135 commented on #455
I understand. The problem is that it's unknown when you expect to call `db.close_session(session)`.

You can change `Resource` provider to `Factory`. The factory should look like this: `Factory(db.create_session)`.  This will create a connection for every `get_user` call, but this doesn't solve connection closing problem by its own.

I would suggest you to try this approach:

1) Change `Resource`

[2021-05-17 20:20] moon-bits commented on #455
Thanks @rmk135 !

Apologies for asking you again, but now I remember why I wanted it to behave like a `Resource`.

The thing is that `get_user` might have also some other `Factory` arguments that **must** use the same database session (used for transactional purposes).

So the requirement is to have a `get_user` instance that gets f.e. `Repository` instances injected but all instances need to use

[2021-05-18 02:03] rmk135 commented on #455
Ok, I see what you're looking for. I don't think there is anything out-of-the box to make it work that way. This is an interesting problem. I would like to address it in the framework one day.

[2021-05-23 03:40] amazingguni commented on #449
I love this feature too :D
I used to modify `__init__` to set the order of initialization. (you know, it looks not a good inplementation)

[2021-05-31 13:47] MatthieuMoreau0 commented on #454
Hi, I noticed the same issue on my project. The container doesn't inject properly in the arguments of my decorator function.

Thanks for your experimentations, I'll use the workaround presented in your `my_decorator_4` for now.

Are there any plans to fix this issue ? I'm wondering why this even occurs specifically on decorator among all functions..

[2021-06-07 18:34] hbmshemet opened #459 "Default value for missing environment variables in yaml and ini config files"
How could I specify a default value for the missing environment variable in the configuration provider?

For example:
pseudo code

[code]

conf file
[code]

or maybe we could leave such cases with empty/none values? for e.g.
[code]

[2021-06-07 21:27] rmk135 commented on #459
Hi @hbmshemet. Yeah, reasonable concern. I'll check what's going on in the code.

[2021-06-07 23:21] hbmshemet commented on #459
it would be cool if we will have smth like this:

[code]

[2021-06-08 01:17] rmk135 commented on #459
@hbmshemet as a short-term solution you could use `os.environ.setdefault('SOME_KEY_SIZE', 'some_value')`. Here is full example:

[code]

Current code uses [os.path.expandvars()](https://docs.python.org/3/library/os.path.html#os.path.expandvars) to replace env variables. If I recall correctly, that's what `yaml.UnsafeLoader` uses under the hood too. The main thing here is that it does substring rep

[2021-06-08 08:18] hbmshemet commented on #459
@rmk135 thanks, `os.environ.setdefault` works for me

It is totally better than "short-solution" and it will work. I'm not sure how much effort should be spent on yours and my idea, but I can see some benefits from default values in config files.

1. All configurations in one place, easy to change
2. Human readable(no need to search and check python files)
3. We could have different default values

[2021-06-08 12:06] mxab opened #460 "provide injectee context to factory"
Hi,

Would be cool if there would be a provider method that would be provided with the target information the provided element is injected to (...sorry for that funny sentence.. )

For example something like this:

[code]

The idea relates to Spring's InjectionPoint
https://fatihdirlikli.wordpress.com/2016/11/22/logger-injection-with-injectionpoint/

Does this make sense?

[2021-06-09 02:15] rmk135 commented on #460
Awesome!

Don't know yet how to implement it, but that does look cool. Thanks for bringing this up!

[2021-06-09 02:33] rmk135 commented on #454
Hey @platipo and @MatthieuMoreau0 ,

Found a solution after some debugging:

[code]

This way it produces expected output for all functions (except `decorated_function_4a` that seems to be not working anyway):
[code]

To make injections work with decorators you need to inject dependencies into a decorating closure, but not a decorator itself. Otherwise the actual call of the decorator happens befo

[2021-06-11 02:50] rmk135 commented on #454
Closing this issue for now. Please re-open or comment if needed.

[2021-06-11 03:01] rmk135 commented on #459
Well, yeah, I agree. I think I can implement it.

[2021-06-12 17:49] rmk135 commented on #459
Finished a prototype today. Seems working fine.

Value `${DEF}/path/${DEF:default}/${UNDEF}/${UNDEF:default}` is resolved to `defined/path/defined/${UNDEF}/default` with `os.environ.setdefault('DEF', 'defined')`.

Will continue on productizing this feature. It still needs more tests, docs and also would be nice to port it to ini files parsing.

[2021-06-13 19:22] rmk135 opened #462 "Add Configuration.from_value() method"
Got a question in comments for configuration provider (http://disq.us/p/2hflii0):

There is no ``.from_value()`` method right now. I think it's a good idea to add it.

[2021-06-13 19:31] rmk135 opened #463 "Required environment variables interpolation for YAML and INI files"
Hi,

First of all, thanks for creating this great project. I'm using environment variable interpolation with a yaml config file. But when a environment variable is not defined and I try to access it, configuration variable is the literal value in yaml config file.

For example:
When `DATABASE_URL` environment variable is defined, my provided config is `postgresql://postgres:password@localhost:5432

[2021-06-13 19:36] #435 closed

[2021-06-13 19:41] rmk135 opened #464 "wiring.register_loader_containers() performance"
Thanks, @rmk135. I managed to get it work with some refactoring. The issue was not related to spawn but Gunicorn.

I found out that the performance of a CLI tool we built using dependency-injector became significantly slower after using `register_loader_containers`. The code seems to perform a `wire` operation on each module import.  Is the performance degradation expected?

CLI timing with `wire`

[2021-06-13 19:43] rmk135 commented on #441
Hi @ssheng , I've created a separate issue to address ``register_loader_containers()`` performance. See #464

[2021-06-14 03:38] rmk135 commented on #459
Hey @hbmshemet

I've added ``${ENV:default}`` feature in release ``4.33.0``. See [changelog](https://python-dependency-injector.ets-labs.org/main/changelog.html). Thanks for bringing up the problem and providing feedback.

Closing this issue. Feel free to re-open if needed.

Respectfully,
Roman

[2021-06-14 03:38] #459 closed

[2021-06-14 03:41] rmk135 commented on #462
Released ``.from_value()`` method in ``4.33.0``.

[2021-06-14 03:41] #462 closed

[2021-06-15 04:30] vuhi opened #466 "django.core.exceptions.AppRegistryNotReady: Apps aren't loaded yet."
Hi,

Thank you so much for a wonderful project. I am using dependency injection in Django a side project of mine.

I notice a big problem with the way the container initialize. As you state in the example section for Django, we initiate the container in `__init__.py` at **project level.**
[code]
https://python-dependency-injector.ets-labs.org/examples/django.html

However, if one of your provider

[2021-06-17 21:11] rmk135 commented on #466
Hey @vuhi ,

Yeah, that's a relevant problem. I think that I didn't hit it in the example cause I didn't use any models. I recall that django models can't be imported before django intialization is finished.

This definitely needs to have a solution.

No, I'm not familiar with it. I'll take a look for sure.

Also I'll take a look on writing a custom app that could twist in django and dependency in

[2021-06-25 08:15] vuhi commented on #466
Hi, @rmk135

I finally make it works. I am pretty new to python & Django. I am not sure how Django handle import models & stuff. Here is my work around:

I create an django app call `ioc`. It contains a file to declare container class, in my case is: `di_containers.py`.
[code]

**ioc/di_containers.py**

[code]

I register the app at the end of `INSTALLED_APPS` list. All of my model I put in a sepa

[2021-07-05 12:43] artem30801 opened #468 "[Feature request] Config provider type/converter specification/declaration"
Currently, I see only two ways to specify value types when loading configuration provider from file:
1) To declare additional provider with value conversion
2) To convert value each time it used in Provide, like `Provide[Container.config.port.as_int()]`, which leads to repetition and pain when you need to change value type
In my opinion, both ways do not take advantage of declarative approach for

[2021-07-09 17:54] brianpkennedy opened #469 "SSL Certificate on https://python-dependency-injector.ets-labs.org/ has expired"
Hi there,

Just wanted to let you know that https://python-dependency-injector.ets-labs.org/ was being blocked on my browser because your SSL cert has expired. My browser(s) give a warning and block traffic to the site without an express accepting of the stale cert.

[2021-07-09 17:57] rmk135 commented on #469
Oh, that’s bad. I need to fix it ASAP. Thanks @brianpkennedy

[2021-07-09 18:08] rmk135 commented on #469
Fixed. @brianpkennedy thanks again.

[2021-07-09 18:08] #469 closed

[2021-07-09 18:25] brianpkennedy commented on #469
np. happy to help.

[2021-07-12 09:00] saulbein commented on #432
Hi again @rmk135,

The workaround has been fine for a while now.

We have a different framework that is responsible for application lifetime ([Prefect](https://www.prefect.io/)) and we had the container integrated with it's tasks, so that we can easily provide external dependencies. Since we have multiple projects using this setup, I would like to factor out the code linking these two frameworks,

[2021-07-12 09:59] rmk135 commented on #432
Got it @saulbein. Thanks for sharing the use case. I’m going to estimate the effort for the feature by the end of the week. Will let you know, when I have more updates

[2021-07-12 10:16] mxab opened #470 "how to inject into third party callable provider that is used by fastapi depends"
Hi,
I'm currently struggeling on how to get this to work.

I have a third party "factory method" that provides me with a method I can use in FastAPI's Depends resolver

[code]

the `oauth_factory` produces as callable with fastapi know signature

[code]

My problem now is when I want the `some_token_extractor` be provided by `python-dependency-injector`

something like this does not work:

[code]

[2021-07-12 10:33] xpegenaute opened #471 "DynamicContainer how/why behaves differently .. Flask Blueprints"
Hi!,

I am considering the use of your library and I want to be able to define Container's providers in runtime. For this I want to use a DynamicContair. AFAIK this should fit prefectly.

Once I started to test it I used your flask-blueprints example [1]. After changing the line which refers to the Container definition [2] to inherit from DynamicContainer everything fails. How should I modify the

[2021-07-12 10:48] rmk135 commented on #471
Hi @xpegenaute ,

With dynamic container you don't need to inherit it with a subclass, just create an instance:

[code]

PS: I didn't test it with an app, but hope that helps. If that doesn't work, let me know

[2021-07-12 11:05] jochenparm commented on #468
I would also love better type hint integration, it allows for a more modern Python style of implementation.
I prefer your framework over Lagom, but that one is really tempting to use because of the 'typing first' approach to wiring.

[2021-07-12 11:12] rmk135 commented on #470
Hi @mxab , thanks for providing an example. I'll take a look.

Dependency Injector can not introspect arguments of ``Depends(auth_factory(...))``. It expects ``Depends`` to contain ``Provide`` marker. Something you could try is to make injection directly to the ``auth_factory`` here https://github.com/mxab/fastapi-di-depends-issue/blob/main/fastapi_di_depends_issue/third_party.py#L20

[2021-07-12 11:14] rmk135 commented on #468
Thanks for the feedback @artem30801 and @jochenparm . Will think of improving this.

[2021-07-12 15:58] mxab commented on #470
I think for now I was able to realise to do the DI part via a class that implments `__call__` and using an instance of this in the Depends call.

But thank you

[2021-07-13 10:16] mxab commented on #470
Hi @rmk135,
I think I'm still facing the problem on how to marry this.
I have a simpler show case now just with FastAPI's Bearers classes

Some container:

[code]

The application:

[code]

the second handler does inject the bearer itself and not the the bearer's `__call__` method provides

This makes partially sense for me, but I'm still wondering if there is a way to get this to work

This is th

[2021-07-13 11:59] mxab commented on #470
As a workarround I can use it like this:

[code]

But it's not pretty :)

[2021-07-14 09:21] mxab commented on #470
As long as I don't type the di_bearer in the signature, otherwise FastAPI goes mad :)
[code]

[2021-07-14 11:29] mxab commented on #470
ok the problem with the workarround is also that it breaks the open api endpoin :/

[code]

results in error:
[code]

[2021-07-14 12:58] mxab commented on #470
ok forgot the `Depends`
[code]

[2021-07-17 00:11] rmk135 commented on #432
Hey @saulbein. I have an implementation of ``container.shutdown_resources()`` that respects resource dependencies. This means that next code:

[code]

will always produce this output:

[code]

I will need some more time for refactoring and writing more tests. Expect the release early next week.

[2021-07-19 07:42] mxab opened #472 "sonarqube "Module 'dependency_injector.containers' has no 'DeclarativeContainer' member""
Hi,
I'm getting a Sonarqube warning in the container part at:
`class Container(containers.DeclarativeContainer):`

[code]

Would you recommend appling the hint or do you know if there is a better way

[2021-07-19 13:30] rmk135 commented on #472
Hi @mxab ,

Module `dependency_injector.containers` is a C extension. I read about this option over here: http://pylint.pycqa.org/en/latest/technical_reference/c_extensions.html.

Seems like using `extension-pkg-allow-list` is a reasonable way to tell pylint about C extensions. I would try that.

[2021-07-20 09:30] mxab commented on #472
thanks

[2021-07-20 09:30] #472 closed

[2021-07-21 00:03] rmk135 commented on #432
Hi @saulbein . I've released version `4.34.1`. It respects resources dependencies shutdown order. Thanks a lot for reporting the issue. Also please let me know if anything else pops up - I'll be glad to help.

[2021-07-21 00:03] #432 closed

[2021-07-21 00:03] #463 closed

[2021-07-21 14:29] jneo8 opened #474 "Conf as pydantic"
Hi,

I just wonder if there any possible transform configuration as pydantic.BaseSettings type?

There are some frameworks are dependency on pydantic settings.

This is weird to import pydantic  to DI's config then to provide it to pydantic again

[2021-07-21 19:03] rmk135 commented on #474
Hi @jneo8 , check this: https://python-dependency-injector.ets-labs.org/providers/configuration.html#loading-from-a-pydantic-settings

[2021-07-22 08:45] jneo8 commented on #474
@rmk135  Yes, The doc say we can load pydantic as config, then inject config to another provider. This is how we load config right now.

`pydantic -> config`

But if I need is to inject pydantic's BaseSettings to another provider. So now my workaround is

`pydantic -> config -> recourde-provider-which-return-pydantic -> another provider`

[2021-07-22 10:53] rollo-b2c2 opened #475 "Sington provider with setup and teardown methods?"
How can I create a Singleton object based on a generator?

For example

[code]

[2021-07-22 21:49] rmk135 commented on #475
Hi @rollo-b2c2 , take a look on https://python-dependency-injector.ets-labs.org/providers/resource.html

[2021-07-22 22:03] rmk135 commented on #474
Configuration provider doesn't keep a reference to a provided pydantic object. Only data is stored. You probably could do like you mentioned if you need to inject pydantic object ``providers.Singleton(Settings)``.

It would be helpful if you could provide a sample code for demonstrating a problem.

[2021-07-23 07:41] saulbein commented on #432
@rmk135 Shouldn't it be the reverse order?
[code]
Or should I specify the order using the delays? If the shutdown of a resource takes a while, that might be an issue.

[2021-07-23 07:48] jneo8 commented on #474
I'm trying to use [fastapi-jwt-auth](https://indominusbyte.github.io/fastapi-jwt-auth/)

On their basic example, User have to write func to provide config like:

[code]

And this func need BaseSettings object to work.

So here is my workaround right now:

[code]

It work but I just consider is there any more clean way to make it work.

[2021-07-23 12:16] rollo-b2c2 commented on #475
The problem is with a resource is that it's a global, once it's instantiated it's there until someone shuts it down.

[2021-07-24 16:04] rmk135 commented on #432
It should. (facepalm) I've made completely wrong thing. Dummy mistake. Will work on the fix to reverse the order.

[2021-07-25 01:06] rmk135 commented on #432
Fixed in `4.34.2`

[2021-07-26 09:19] saulbein commented on #432
No worries, we all make mistakes sometimes :)
Thanks for the fix!

[2021-07-29 12:18] gtors opened #477 "How to refer to parent resource inside child?"
[code]

[2021-07-29 12:37] gtors commented on #477
This is a non-trivial solution, but it looks like I got a working code.

[code]

Are there any other options?

[2021-07-29 15:56] ilsurih opened #478 "six library update to 1.16.0"
Any plans on updating six to 1.16.0? Currently version is limited to <=1.15.0

[2021-07-29 16:01] rmk135 commented on #478
Should not be a big deal. Will publish a release later today. Thanks for bringing this up!

[2021-07-29 22:13] rmk135 commented on #478
Released a version `4.35.0` with six <= 1.16.0.

_A note for future myself or other contributor: I think it makes sense to check with six owners if they committed to follow semantic versioning. If so, we could put an upper boundary to <2.0 and prevent such problem in future._

[2021-07-29 22:14] #478 closed

[2021-08-01 18:23] adriangb commented on #470
I think part of the trouble stems from the fact that `Depends` looks for an instance of `Security` [at compile time](https://github.com/tiangolo/fastapi/blob/717a1ec40992d00e34635f0b4c9b68ab5a6daef7/fastapi/dependencies/utils.py#L147), before anything is injected. I believe it would get an instance of whatever `Provide[Container.bearer]` returns, which is not going to be an instance of `fastapi.se

[2021-08-05 19:23] ilsurih opened #479 "container.set_provider doesn't work with str subclasses"
DynamicContainer's set_provider does not accept `str` sub-class instances as a parameter. The following code is to demonstrate the issue:
[code]
fails with TypeError:
[code]

For another class `MyClass` we can use `MyEnum.val` to set attribute.

[2021-08-05 21:59] rmk135 commented on #479
Fixed in `4.35.1`. Thanks again. Closing the issue, please re-open if any issues.

[2021-08-05 21:59] #479 closed

[2021-08-06 10:05] Sadbot opened #481 "Fastapi error with dependency_injector of latest version"
Hello! Very useful library - thanks!
I have some trouble with using dependency services in my fastapi application of latest version. (with older versions - no problem)

I make a repository example with example code, that I trying to start.

First example, branch `modules` - I use `container.wire(modules=....)`
https://github.com/Sadbot/di-issue/blob/modules/main.py#L20

And  I take an error:

[cod

[2021-08-06 15:28] rmk135 commented on #481
Hey @Sadbot. I'll take a look and get back to you.

[2021-08-06 20:00] rmk135 commented on #481
So 2 things:

1) In branch ``modules`` use ``app.container.wire(modules=[routes])`` instead.
2) In branch ``packages`` you provide a module as a package ``wire(packages=[module])``. It's not a documented feature, but I can fix it so it works

[2021-08-06 21:10] blairg23 opened #482 "Sentry does not seem to be logging when logger is used inside DI framework"
I implemented a single `providers.Singleton` for the `logging.Logger` module (see example below). None of my exceptions have been bubbling up to `Sentry`. However, if I use the `logging.Logger` (shown as `Logger2` in the example), the exception bubbles up. Is there something further I need to do to use `logging.Logger` inside the DI framework?

---

`hl_provider`:

[code]

---

`provider`:

[code]

[2021-08-07 05:04] rmk135 commented on #481
Released version ``4.35.2`` that supports ``.wire(packages=[module])``. No ``AttributeError: module 'routes' has no attribute '__path__'`` in that case anymore.

Hope that helps! Let me know if I can help you with anything else.

[2021-08-07 05:36] rmk135 commented on #482
Hey @blairg23 .

- No, there are no requirements from the DI framework to make logger work. DI framework just instantiate objects and provide dependencies.

I see a potential problem in how you instantiate the logger. Try this:

[code]

[2021-08-08 10:36] mxab commented on #470
Yeah also assumed that this is kind of the case. Thank you for pointing out where this check is happening

[2021-08-08 14:39] rmk135 commented on #481
No problem! 😊Let me know how it goes

[2021-08-08 23:23] stefanitsky opened #483 "FastAPI route Request injection + injector decorator"
Hi!

Problem: inject decorator doesn't work with fastapi.Request

Sample code:
[code]

Traceback:
[code]

Any ideas?

[2021-08-09 01:08] rmk135 commented on #483
Hey @stefanitsky. Thanks for demonstrating the problem and providing the sample. I’ll take a look and get back to you

[2021-08-09 07:04] #481 closed

[2021-08-09 13:20] rmk135 commented on #481
Glad to hear! Thanks for reporting the issue

[2021-08-09 15:15] rmk135 commented on #483
Hey @stefanitsky ,

So few things:

1) Remove ``from __future__ import annotations``
2) Use regular class references instead of strings for type annotations: ``db: Database`` instead of `db: 'Database'```.
3) Optionally, add ``container.wire(modules=[sys.modules[__name__]])`` to the startup code to wire already loaded modules.

Here is complete example:

[code]

Hope that helps!

[2021-08-09 15:43] stefanitsky commented on #483
Haha, thanks! `from __future__ import annotations` breaks everything...

[2021-08-09 16:06] rmk135 commented on #483
Yeah, annotations thing isn't perfect at the moment. If I recall correctly, Python 3.10 will bring a significant change where the from future from ``from __future__ import annotations`` will actually become current :) Anyway, thanks for asking for help. Let me know if you anything else. Closing the issue for now, feel free to comment if anything

[2021-08-09 16:06] #483 closed

[2021-08-10 17:21] blairg23 commented on #482
This worked, thanks! Also for future reference, to use a custom logger named `CustomLoggerClass`, you just need to implement a method like this:

[code]

and then similarly do this: `logger = providers.Singleton(get_logger, name="whatever')`

[2021-08-10 17:21] #482 closed

[2021-08-10 17:34] rmk135 commented on #482
Nice! Thanks @blairg23 . ``logging.getLogger()`` registers created logger in the global logging manager. I believe this global manager is the integration point for sentry sdk. And thanks for sharing custom logger class example.

[2021-08-10 19:52] stefanitsky opened #484 "Integration with FastAPI injections"
Greetings!

I want to implement may be something wrong, but for now it seems like a very convenient solution.
But it doesn't work and i can't figure out how to do it.

I want the access token from authorization header to be immediately passed into the service factory:
Get access_token -> fake_api = FakeAPIService(access_token) -> UserService(fake_api)
Or just (if user service is not required, only

[2021-08-10 19:56] stefanitsky commented on #484
I also tried to make my custom Factory, but failed 😢

[2021-08-11 00:27] rmk135 commented on #484
Hey @stefanitsky ,

That's what I would be doing:

[code]

The idea is to integrate Dependency Injector injections into FastAPI injections on ``get_user()`` level. This is the cleanest way for now.

[2021-08-11 00:33] rmk135 commented on #477
Hey @gtors , apologies for a delayed response. Initial examples looks good, I'm unsure why it doesn't work from a first sight. I'll debug it and get back to you. Thanks for opening the issue.

[2021-08-11 11:12] stefanitsky commented on #484
Thanks, i forgot about overriding, that's very helpful in my case!

[2021-08-11 11:12] stefanitsky commented on #484
You are awesome! 😎

[2021-08-11 12:59] rmk135 commented on #484
Oh hell, no, I'm not, but thank you 😀

[2021-08-11 12:59] rmk135 commented on #484
Closing the issue. Let me know if you any other help

[2021-08-11 12:59] #484 closed

[2021-08-12 01:26] rmk135 commented on #477
Confirming it's a bug. Publishing a fix now.

[2021-08-12 02:44] rmk135 commented on #477
Surprisingly project hit a PyPI size limit of 10 GB and I was unable to make a full release. I contacted PyPI support to increase the size. Hopefully, they will address it soon.

[2021-08-12 22:24] Daveography opened #486 "AsyncResource integration with fastapi-utils CBVs"
Hello,

I'm trying to use an AsyncResource (to manage SQLAlchemy AsyncSessions) with FastAPI Class-Based Views (from [fastapi-utils](https://fastapi-utils.davidmontague.xyz/user-guide/class-based-views/)) so that I can inject common resources using a base class that my endpoints will inherit. Unfortunately, I can't seem to find a way to make it work.

Not even sure if what I'm wanting to do is pos

[2021-08-13 02:02] rmk135 commented on #486
Hey @Daveography ,

I don't see any possibility to make it work that way. At least I tried and didn't get any good ideas. The thing is that we're trying to make an async injection into``__init__`` method that is never awaited. It's even can't not be async at the moment (Python 3.9). Also using ``Closing`` on ``__init__`` seems erroneous because resource will be closed when ``__init__`` is executed

[2021-08-13 02:07] rmk135 commented on #486
Hm, I, actually, have an idea... How is about that:

[code]

[2021-08-13 07:25] mattip opened #487 "Put fewer packages on PyPI"
This project requires an out-of-proportion amount of storage space on PyPI. This is problematic since the storage space is donated and the general assumption is that projects will not over-use the resources. In order to analyze what is going on, let's look at some data.

Each release of the project creates these artifacts (taken from the 4.35.1 release)
[code]
I think I left out the source tarball

[2021-08-13 10:29] mattip commented on #487
Another thing to think about is whether the package can be built using the limited API, it seems [cython has some support](https://github.com/cython/cython/issues/2542) and there are some hints for [cibuildwheel](https://github.com/pypa/cibuildwheel/issues/78). Then there would only be one wheel for all the python versions on a platform.

[2021-08-13 10:55] da-woods commented on #487
Unless I'm missing something, I make it 122MB. Which seems a little more reasonable. Although smaller is obviously still better.

I'd be reluctant to recommend Cython's limited API support yet (by all means try it and submit bug reports, but I wouldn't release it to actual users)

[2021-08-13 10:56] mattip commented on #487
Sorry, miscalculated. Fixing the comment

[2021-08-13 11:04] da-woods commented on #487
The other approach that people sometimes use is to ship the Cython-generated C files rather than binaries (although obviously that then requires the user to have a C compiler, but doesn't require the user to have Cython). Obviously that could be combined with pure-Python mode as an additional fallback level.

[2021-08-13 12:32] rmk135 commented on #487
@mattip , this project has 360 000 last month - https://pypistats.org/packages/dependency-injector

You were looking at a wrong project with similar name.

[2021-08-13 12:44] rmk135 commented on #487
I shipped project as generated C code and it created some problems for the users. As you noted, with C sources everybody will need to install C compilers. And build time will be much higher. Also this spends much more resources in a global scope because of thousand of compilations vs a single one on CD server. Just removing the pre-compiled wheels from the project that already had ones doesn't see

[2021-08-13 12:53] rmk135 commented on #487
@mattip , thank you, that's something to think about. The problem is that I'm stuck at the moment cause I can not make a single release.

[2021-08-13 13:42] mattip commented on #487
That makes more sense, thanks.

Correct me if I am wrong, it seems this new release is for issue #477. Perhaps you could delay the release to the end of the month, and in the mean time shrink the release so it fits into the space you freed up by deleting older versions. I would expect the approval process for PyPI to take a few weeks anyway, they are very overburdened.

[2021-08-13 15:28] Daveography commented on #486
@rmk135 Great suggestion, thank you! It's not exactly what I was hoping to achieve, but it seems to be about as close as I'm going to get, and it certainly clears up the issues I'm trying to fix.

I appreciate your work on this library, and appreciate even more your quick reply and overall attention to helping out and supporting its users.

[2021-08-13 15:28] #486 closed

[2021-08-13 15:38] rmk135 commented on #486
You're very welcome. Please, let me know if you need anything else. Cheers!

[2021-08-13 15:41] rmk135 commented on #487
@mattip  Yeah, that's correct. You brought up a lot of interesting suggestions. I don't think I'll be able to apply all mentioned, but I should be able to make some improvements for sure. Thanks again for your input!

[2021-08-14 10:54] EdwardBlair opened #488 "Subclassed generic (Async)Resource fails py3.8.9"
Given python-dependency-injector@4.35.2
[code]

[code]

Fails to run on python 3.8.9 with
[code]

Removing this seems to fix it
https://github.com/ets-labs/python-dependency-injector/blob/155f59869922de2c0ae57ab2e77d85655e15f21b/src/dependency_injector/resources.py#L18-L20

What's that for?

[2021-08-14 22:38] EdwardBlair commented on #453
https://mypy.readthedocs.io/en/stable/extending_mypy.html

Seems rather non-trivial..

Pydantic's implementation
https://pydantic-docs.helpmanual.io/mypy_plugin/
https://github.com/samuelcolvin/pydantic/blob/5ccbdcb5904f35834300b01432a665c75dc02296/pydantic/mypy.py

[2021-08-15 01:39] EdwardBlair commented on #475
How is that different behaviour from your description in the issue?

[2021-08-15 16:43] EdwardBlair opened #489 "Pass arguments to __init__ of (Async)Resource[T] instead of init"
It would be nice if we could do the following:

[code]

Conceptually instantiation is currently `python MyDepResource().init(...args...)`, I propose `MyDepResource(...args...).init()`

The protocol for (Async)Resource then becomes more simple, and as I understand, you would get more strict typing of the arguments since they're now defined on the subclass's `__init__` (instead of just being `*args:

[2021-08-16 14:18] rmk135 commented on #488
Hey @EdwardBlair. I did have mypy tests for generic typing of these classes, but didn't have runtime testing when generic typing is used. It has been broken for a while. Thanks for reporting the issue.

I fixed it. PR #490 . The fix is in the ``develop`` branch. I can not publish it on PyPI right now because project has reached PyPI size limit. I'll go ahead with publishing right after size issue

[2021-08-19 22:36] rmk135 commented on #489
It should

It should.

No, definition in subclass can be avoided. Framework will call shutdown method anyway, but it can go to default implementation.

Appreciate if you could take a look on #492.

-----------

Still thinking on the first part of your question.

[2021-08-21 12:43] EdwardBlair commented on #470
Also can't inject callables since https://github.com/tiangolo/fastapi/blob/717a1ec40992d00e34635f0b4c9b68ab5a6daef7/fastapi/dependencies/utils.py#L442-L446

Checks against the type of Provide[]. Thisis sad 😢

[2021-08-21 12:50] EdwardBlair commented on #470
I have yet to work out how to inject a callable dependency

[code]

I believe this is a similar issue.

[2021-08-23 16:10] veotani commented on #438
Hi, having the same issue. Python 3.8.8; PyInstaller 4.3; dependency-injector 4.35.2. I too have project running when I execute it as a python script, but getting this `Provide` issue because of PyInstaller.

[2021-08-23 16:16] rmk135 commented on #438
@veotani thanks for the report. Could you provide any information on how to reproduce the issue?

[2021-08-23 17:38] veotani commented on #438
@rmk135 yes, I've created simple fastapi project with the same structure that I use in my real project. There I have an API layer and domain. Here I have an injection example: I have `UseCase` injected into endpoint of the application. In the README I described how to run the project and see that behavior is different when you run the project as a script and as an executable built with PyInstaller

[2021-08-24 22:59] veotani commented on #438
Hi again.

I made a simpler example demonstrating the issue.

https://github.com/veotani/di-pyinstaller-bug

[2021-08-24 23:18] veotani commented on #438
I've just tested if this behavior is relevant when you wire modules and the answer is "no". If you need to package your application with PyInstaller and wiring packages ends up raising the exception from the OP post, then you probably should use module wiring at the moment.

In other words, if you change two lines starting at [this line](https://github.com/veotani/di-pyinstaller-bug/blob/3267d7b6a

[2021-08-25 05:43] AlexandrFarkas opened #495 "Is that possible to pass the same factory dependency to all dependenants?"
For example, I have 1 use case, it has 3 dependencies - Session, ProductRepository, and UserRepository; repositories depend on session. Could I pass single SQLAlchemy session to all them? When I create second use case, session should be different.

[2021-08-25 08:12] AlexandrFarkas commented on #495
I want to achieve similar behaviour to FastAPI, where single dependency resolved only once per request.
I saw solution  @rmk135 suggested, but I cannot deregister dependency after request  in async context, because multiple requests could enter simultaneously.

Also provided example with FastAPI + SqlAlchemy is not relevant. I don't want to commit session in the end of repository's method call. I

[2021-08-25 14:05] rmk135 commented on #495
Hi @AlexandrFarkas.  Dependency Injector provides ``ContextLocalSingleton `` that helps to solve this problem in async frameworks. FastAPI unfortunately doesn't support async context switching, so the provider doesn't work out of the box. ``aiohttp``, for instance, supports context switching out of the box and ``ContextLocalSingleton `` does the thing.

I hear a lot of people struggling with this

[2021-08-25 14:35] rmk135 commented on #438
@veotani , thanks for the example. I have successfully reproduced the issue with https://github.com/veotani/di-pyinstaller-bug
I'll debug what's going on and get back to you shortly.

[2021-08-25 14:48] veotani commented on #438
@rmk135, as I see, package wiring is implemented with paths of these packages. When you use bundled app, you have no paths and modules are treated as [frozen modules](https://wiki.python.org/moin/Freeze). If only package could contain links to modules contained within it, solution could be simple. According to PEP 451:

I wonder if this

can help, but haven't found anything yet.

Seems like it's n

[2021-08-25 16:03] rmk135 commented on #438
@veotani, thanks for the input. I also found this section: https://pyinstaller.readthedocs.io/en/stable/when-things-go-wrong.html#listing-hidden-imports. Seems like it's quite related.

I didn't find any quick solution. Will take deeper look later

[2021-08-26 20:15] zerlok opened #497 "[mypy] "Only concrete class can be given" fails with Dependency provider and abc"
I'm trying to use Dependency provider according to the [documentation](https://python-dependency-injector.ets-labs.org/providers/dependency.html), and the code works well, but mypy returns an error `Only concrete class can be given where "Type[Animal]" is expected`. I found [this mypy issue](https://github.com/python/mypy/issues/5374), but I'm not sure is that problem related to me. Should I comme

[2021-08-28 03:17] rmk135 commented on #438
Hi @veotani. Do you consider upgrading ``PyInstaller`` to the latest version? FYI your example appears to work on version ``4.5.1``.

[2021-08-28 10:40] veotani commented on #438
Hi @rmk135, yes, updating to latest version helps to avoid this issue. There was a reason for me to stick with 4.3, will describe it at the end of my message.

To conclude this conversation: for everyone who is having this problem they might either use module wiring for specific versions of PyInstaller or update PyInstaller.

I've tested latest versions of PyInstaller and here is what I've got:

-

[2021-08-30 13:18] m-vellinga commented on #455
Running into the same situation. Would love to have a database session that is essentially tied to a request/response cycle and all the dependancies that use it during that request/response cycle and closes up afterwards. It first sight the "Closing" marker does what we want but that only seems to work in combination with "Provide" when directly referencing the "Resource" not on dependancies that

[2021-08-30 16:16] aminclip opened #498 "Setter method calls are missing"
Hi Contributors :)

I'm trying to set an optional dependency ( a logger ) by using a setter method injection, but I haven't found any way to do that using this project.

A sample implementation of it can be found here https://symfony.com/doc/current/service_container/calls.html for PHP language.

Thanks.

[2021-08-30 17:36] rmk135 opened #499 "Fix a typo in Factory provider docs "service.add_attributes(clent=client)""
I found a typo in ``Factory`` provider docs: https://python-dependency-injector.ets-labs.org/providers/factory.html.
Need to update ``service.add_attributes(clent=client) -> service.add_attributes(client=client)``.

[2021-08-30 17:39] rmk135 commented on #498
Hi @aminclip ,

There is no setter method injection out of the box, but you can use attribute injection. Here is an example from the [documentation](https://python-dependency-injector.ets-labs.org/providers/factory.html):

[code]

Setter method are not that popular in Python in favor of regular property injections. If you need to modify or validate the injected value, you can use ``@property`` dec

[2021-08-31 10:59] #498 closed

[2021-08-31 20:42] zerlok commented on #497
Hi, @ rmk135, thanks for response. I hope then mypy will fix it somehow. I leave the issue open by now. Also I think that you may add a simple note about mypy behavior in the docs, not removing abc usage (Dependency provider works as expected).

[2021-09-01 14:33] rmk135 commented on #438
Hi @veotani. Got it, good that everything works on your end. I'm also going to take a look if I could fix "startswith first arg" issue from 4.4 to support more versions.

[2021-09-01 14:38] rmk135 commented on #438
Hey @saledemon, seems like upgrading ``PyInstaller`` version to 4.5 should solve the issue. If it's something else and you'll face the problem even after upgrade, please let me know and I'll try to help.

[2021-09-08 02:44] hustlmh opened #501 "The example “fastapi-sqlalchemy” cannot be executed ..."
hi, I cloned the git-master code and try to run the example without any modification in my miniconda environment where python version is 3.8.11, but the example “fastapi-sqlalchemy” cannot be executed.
The error message is "TypeError: 'ABCMeta' object is not subscriptable".
related environment is
uvicorn             0.15.0
fastapi              0.68.1
dependency-injector 4.36.0

how to fix it ?
Tha

[2021-09-11 11:09] chbndrhnns opened #505 "Provide auto-completion for class attributes"
For this simple example, I cannot get PyCharm to provide auto-completion beyond the first level. Is it possible somehow to make auto-completion available?

The class constructs seem quite simple (on the outside) so I am not sure why the completion is missing here.

My expectation is to see "config" being offered.

![Screenshot 2021-09-11 at 13 06 45](https://user-images.githubusercontent.com/75345

[2021-09-11 11:19] chbndrhnns opened #506 "Provided type not checked when creating container with arguments"
When I try to create a container, it seems there are no checks in place which prevent me from passing in an instance of an incorrect type.

Or, is the error rather on my side and I am using the library in an incorrect way?

<details>
<summary>Click to toggle</summary>

[code]

</details>

[2021-09-13 00:19] rmk135 commented on #499
Hey @rajanjha786, many thanks for the help! I have updated a changelog: https://github.com/ets-labs/python-dependency-injector/commit/cc4235257c03774b472020a0d954e34d6333a2b5.

The fix is in the develop branch now and will be published with the next release.

[2021-09-13 00:19] #499 closed

[2021-09-13 00:30] satodaiki opened #507 "How can I register an interface with multiple interfaces in a container?"
hi.

Sorry for the confusing question.
I want to register only the interface in the Container without having an implementation.

Specifically, it is as follows:

[code]

(Of course, the above code normally receives DB related values, but it is a simplified code because it deviates a little from this question.)

Do you have any good ideas?

[2021-09-13 00:31] rmk135 commented on #505
Hey @chbndrhnns ,

There are two ways how you can get typing work in this case:

1) Call container provider to get actual instance of the subcontainer:
<img width="1135" alt="Screen Shot 2021-09-12 at 8 25 04 PM" src="https://user-images.githubusercontent.com/1742049/133008056-ac316814-744d-45c4-b071-fd911f7d3a45.png">

2) Specify the type of the container in the root container:
<img width="1101"

[2021-09-13 00:49] rmk135 commented on #506
Hi @chbndrhnns. Yeah, that's confusing, thanks for bringing up the issue. As a workaround, to achieve what you're looking for you can use a combination of ``Factory`` and ``Dependency`` provider. Tests pass with the code below:

[code]

``Dependency`` provider makes a runtime check for the provided instance. ``Factory`` provider uses ``provided_type`` only during provider initialization. In the ex

[2021-09-13 01:03] rmk135 commented on #507
Hi @satodaiki , take a look at the ``Dependency`` provider. Here is an example of what you can do with it:

[code]

Does it look like something you were looking for?

PS: Argument ``default`` is optional.

[2021-09-13 01:14] rmk135 commented on #501
Thanks for reporting the issue @hustlmh . After a quick search, I found that adding ``from __future__ import annotations`` might help as a workaround. I didn't test it yet. A dirtier but 100% working fix is to just remove type annotations from line 32:

[code]

I'll also try to see how to make it work on all supported Python versions. Thanks again.

[2021-09-13 02:01] satodaiki commented on #507
@rmk135
Thank you!

However, is it necessary to define the following PostgresUserRepository even in the example presented?

[code]

[2021-09-13 04:53] rajanjha786 commented on #499
Thanks, @rmk135
This was my  contribution to OS Journey :)

[2021-09-13 06:20] chbndrhnns commented on #505
Of course, option 2 is nice. I cannot remember why I did not think of that possibility.

[2021-09-13 06:20] #505 closed

[2021-09-14 15:34] SBAndrei opened #508 "Wiring packages does not work v2"
tree>
  |-main.py

  |-dummy_objects
  |  |-dummy.py
  |  |-__init__.py

  |-containers
  |  |-dependencies.py
  |  |-__init__.py

dummy.py

[code]

dependencies.py

[code]

main.py

[code]

Result:
python3 main.py
<dependency_injector.wiring.Provide object at 0x7f5c068fa278>
Name: Test object 1

I hope I did not f*cked up smth, but I'm getting a bit stressed over this

[2021-09-14 20:03] gen-xu opened #509 "Better error handling"
Currently if the callable provider fails due to missing arguments or other errors, it may be hard to find out which guy is missing arguments if one provider is being referred many times.
[code]
it may be hard to find out which `__init__`, consider re-raise the exception with the function reference

[2021-09-14 20:24] rmk135 commented on #509
Hi @gen-xu. Yes, I agree that it turns to be a problem. Thanks for the PR. I'll look at it later today.

[2021-09-14 20:25] rmk135 commented on #508
Hi @SBAndrei , I'll take a look later today.

[2021-09-15 00:47] rmk135 commented on #508
To make the code work you need to make two changes:

1) Make wiring after module ``main`` is fully imported. To achieve this you need to call ``get_container()`` (that makes wiring) once in the ``if __name __ == "__main__":`` section.

Update ``main.py``:
[code]

2) When you make wiring, use ``sys.modules['__main__']`` instead of ``sys.modules[__name__]``. ``sys.modules[__name__]`` is evaluated to

[2021-09-15 01:05] rmk135 commented on #509
@gen-xu , commented on the PR.

[2021-09-15 05:31] SBAndrei commented on #508
@rmk135 thanks. You just saved my day.

[2021-09-15 06:51] #508 closed

[2021-09-15 12:51] rmk135 commented on #508
No problem, anytime. Let me know if you need any other help.

[2021-09-16 12:57] robmoore commented on #337
I've attempted unsuccessfully to populate the container first with some providers and then call `from_schema` with the intention of referencing providers outside of the schema from within the schema. The goal is to use the schema configuration for only a minority of the objects. Is this a use case that you are planning to support?

[2021-09-16 13:07] rmk135 commented on #337
Hey @robmoore , this wasn't on my mind before, but this makes sense, so I'll make a note. Many thanks again for sharing your experience.

[2021-09-16 22:09] japel opened #512 "Correct way to inherit from Configuration"
Dear all,

I've been struggling to inherit from Configuration.
I'd like to adapt the __setitem__ method to always execute a method when a configuration is changed.

Has anyone ever done something like that? How could I inherit from Configuration?

Thanks in advance

[2021-09-20 08:23] chbndrhnns opened #513 "How to restrict DependenciesContainer type?"
I am trying to re-create an onion-layer architecture with the dependency injector library. Here is a snippet:

[code]

Can I make dependency-injector check the provided container for `adapters` and reject invalid types?

[2021-10-05 05:59] chbndrhnns commented on #439
It seems this can be closed. Am I missing something?

[2021-10-05 12:53] rmk135 commented on #439
@chbndrhnns This provider still misses the documentation. I'm working on a new release and will include it there. Thanks for the reminder

[2021-10-06 01:40] dandiep commented on #363
Any further thoughts on this? Would be hugely helpful.

[2021-10-06 02:26] rmk135 commented on #363
I didn't get to these experiments yet, my apologies. I still believe that the closest solution to this problem should be in using contextvars + middleware + special provider for context vars.

As of now I can share this piece of code: https://gist.github.com/rmk135/ddc45d2cd1981bfe3d4486dbfbba0b1a
This is based on ``aiohttp``. Server gets some data from the request and pushes it into contextvars,

[2021-10-06 02:53] dandiep commented on #363
Thanks. On a related note, I also found this which was super helpful: https://gist.github.com/ddanier/ead419826ac6c3d75c96f9d89bea9bd0

[2021-10-21 08:44] chbndrhnns commented on #513
According to my experiences with the library, this seems not possible. Is it something you see as valuable to have, @rmk135?

[2021-10-22 19:15] ricardo17coelho opened #521 "AttributeError: 'Provide' object has no attribute (FastAPI)"
i trying to create an app with DI.
Example:  [Application example (multiple containers)](https://python-dependency-injector.ets-labs.org/examples/application-multiple-containers.html)

fastapi==0.70.0
dependency-injector==4.36.2

I got this error when the service is called:
Traceback:
[code]

containers.py

[code]
userservice.py
[code]
routes
[code]

main.py
[code]

What i'm doing wrong ?

[2021-10-26 11:21] sshann opened #523 "AttributeError: 'Provide' object has no attribute (boto3)"
Hello, I am trying to inject a service (DynamoDB) to a class, but I keep getting the error `AttributeError: 'Provide' object has no attribute 'Table'`. I checked previous issues, but can seem to figure out what I did wrong. Could someone help me out?

I have dependency-injector version 4.36.2 installed

I have the following code:

[code]

[code]

[code]

I have an `__init__.py` file in the root an

[2021-10-29 17:28] celowsky opened #526 "Provide object has no attribute in Flask blueprints-based after_request method"
I'm trying to inject some of my container's dependencies in my Flask app that uses the factory application pattern with blueprints. However, after making an http request to the app, I receive the error `AttributeError: 'Provide' object has no attribute 'is_host_allowed'`. I'll attach my containers.py and __init__.py files here, but my goal is to get these dependencies from the container in my add_

[2021-10-31 22:17] rmk135 commented on #521
@ricardo17coelho apologies for the delay. This looks like a bug in the Dependency Injector. I will take a look.

PS: Also, I noticed that you don't have `__init__.py` files in the `enums` and `models` packages. This is, probably, not related to the current issue, just FYI

[2021-11-01 00:44] rmk135 commented on #521
@ricardo17coelho I wasn't able to reproduce the issue.

**Question:** when you call ``container.wire(modules=[api_router])``, are you sure that ``api_router`` is a module?

I'm asking because the only way I was able to reproduce the issue was to pass router instance instead of module ``container.wire(modules=[APIRouter()])``. If you do the same, change it to pass the module with endpoints to the `

[2021-11-01 22:35] Digoya commented on #470
I ended up with something like this:

[code]

Later can be used as:

[code]

[2021-11-03 15:29] #526 closed

[2021-11-05 12:04] ilsurih commented on #523
One option is define provider of the controller in Container itself:
[code]
and then let IoC controller inverse control over the container and obtain an instance:
[code]

Also I don't call the provider and use argument as an instance intself in my code:
[code]

But related to your issue I think it might be related to wiring of your `controller` package - try to either wire `module`:
[code]
or pack

[2021-11-07 16:39] ricardo17coelho commented on #521
@rmk135 Thank you!
I already addet the missing `__init__.py` files.
`container.wire(modules=[api_router])` -> api_router is an instance from APIRouter().

i import `api_router` from `routes.py` (see code from routes above) because i need it for FastApi()
-> `app.include_router(api_router)`

How can I import it as a module?
Something like:
`import app.api.v1 as router`

[2021-11-07 21:44] elfring opened #529 "Increase the usage of augmented assignment statements"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of augmented assignment statements](https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements "Augmented assignment statements") accordingly.

[code]

[2021-11-08 00:56] rmk135 commented on #529
Hi @elfring ,

Wonderful idea. Would you like to make a pull request?

Best,
Roman

[2021-11-08 01:06] rmk135 commented on #521
Hey @ricardo17coelho ,

I released a feature where you can provide module and package names as a string to ``container.wire()``. In that case, Dependency Injector will make all imports and wiring by its own, nothing extra is needed from your side. So, that are two things I recommend:

1) Use ``container.wire(packages=["app.api.v1"])``, no need to make any imports
2) Use ``APIRouter`` as you need (

[2021-11-08 01:09] rmk135 commented on #513
Hi @chbndrhnns ,

Thanks for sharing the use case. Yes, I think you can be something like:

[code]

I'll add it to the backlog.

[2021-11-08 01:12] rmk135 commented on #512
Hey @japel ,

I didn't try that.

I would say just ``class MyConfig(providers.Configuration)``, but if that would be that simple, you probably wouldn't ask.
Could you share some kind of code sample of what you're trying to do and how it fails now?

[2021-11-08 01:22] rmk135 commented on #507
Hi @satodaiki ,

Yes, I have ``PostgresUserRepository`` class defined. Sharing the full sample that I used locally:

[code]

Does it cover your initial goal? Please let me know if you're still looking for any answers or improvements.

Best,
Roman

[2021-11-08 08:12] elfring commented on #529
:thought_balloon: How will the chances evolve to integrate the adjustment of two assignment statements directly?

[2021-11-08 20:31] ricardo17coelho commented on #521
Hi @rmk135 Thank you,
With:
`container.wire(packages=["app.api.v1"])`
I get this error:
[code]

[2021-11-10 19:01] ricardo17coelho commented on #521
@rmk135  did you receive my email?

[2021-11-10 23:55] rmk135 commented on #521
@ricardo17coelho , please check if you're using the latest version (``4.37.0``)

[2021-11-12 20:53] ricardo17coelho commented on #521
Hi @rmk135 . Thank you.

It works now.
But i think that the error (or one of them) was that "async" word was missing on the route methode declaration.

Works:
[code]

Doesn't work:
[code]

[2021-11-20 10:03] zerlok opened #530 "Aggregate provider (aka use Selector as FactoryAggregate)"
I found a [selector provider](https://python-dependency-injector.ets-labs.org/providers/selector.html), but I think it doesn't satisfy my needs. I woud like to write a CLI script (i'm using click library) which reads configs of different types (json / yaml). I want users to specify a config type in an input and choose an appropriate reader with specified value. Also I want a click to validate an i

[2021-11-21 02:24] rmk135 commented on #521
Good, I think the last issue was related to the version.

I tested wiring with both examples and wasn't able to reproduce the error. I'll close that issue, but feel free to comment if needed.

[2021-11-21 02:24] #521 closed

[2021-11-21 02:50] rmk135 commented on #530
Hey @zerlok ,

Thanks for bringing up the idea.
Please take a look at the next example:

[code]

The example is based on the existing API. Does it look like something you were looking for?

[2021-11-21 12:41] zerlok commented on #530
Hi @rmk135 ! Thanks for a quick response!

I see that there is useful `providers` property in `Selector` class, which returns a dictionary with all passed keys and providers at selector instantiation. This one can help to me.

The only thing left that bothers me is that I have to declare the `config` property, then use configuration option `reader_type` in selector and then set its value by passin

[2021-11-22 04:19] rmk135 commented on #530
Copy that @zerlok , makes sense.

```FactoryAggregate``` provider should be the closest in the current codebase. See the example:

[code]

This feature was already requested once, and I have a backlog item called "Use Selector like FactoryAggregate". The problem with ``FactoryAggregate`` is that it can only work with factories and will reject other types of providers. If you need singletons inside

[2021-11-22 04:21] rmk135 commented on #530
Regarding the new provider and backlog item "Use Selector like FactoryAggregate" – I'll prioritize that. I'm still in doubt about the right name for that provider. I like ``KeySelector``, but wonder if there is anything sharper. Please let me know if you have any ideas.

[2021-11-25 08:17] al-stefanitsky-mozdor opened #531 "Provider import string"
Can we implement something like [that](https://proofit404.github.io/dependencies/package/)?

In `dependency_injector` i see it like that:
[code]

[2021-11-25 08:17] al-stefanitsky-mozdor commented on #531
Or a custom provider like `providers.ImportFactory`

[2021-11-25 12:37] rmk135 commented on #531
Hi @al-stefanitsky-mozdor ,

Thanks for bringing up the idea. I tried to stay away from the string identifiers the last couple of years, but this has changed in the past few releases. I don't see why not implement this. I'll add a backlog item for this.

[2021-11-29 19:12] zerlok commented on #530
@rmk135 , thank you for suggestions, they helped me.

I'd like to notice that in my `KeySelector` implementation above the only available type for key is `str`, but I think it should be a type variable with `typing.Hashable` bound. In that case the provider may be called `MappingSelector`, `MappingValueSelector` or `MappingKeyBasedSelector`.

P.S. Actually, I prefer long class names like in java.

[2021-12-01 09:20] mxab opened #532 "inject config parts directly"
Hi,

is there a way to inject config parts directly?

e.g.
[code]
or even with `Container.config.foo.bar.some_value._as_int()` ?

[2021-12-04 21:53] sshann commented on #523
My apologies for the very late reply, I was unable to work on this side project last month.

I updated the `Provide` to `Provider` and the wiring to set as `packages` instead of `modules` and it now works without explicitly passing the dependence :tada:  nice :partying_face:

About the Provide/Provider, if I recall correctly, I based my implementation on the [Application example (single container)

[2021-12-06 23:08] gtors opened #533 "Type casting in dependency_injector.providers.Configuration.from_env"
It would be useful to be able to cast env variables to a specific type, for example:

[code]

Inspired by https://www.starlette.io/config/ and https://github.com/sloria/environs

[2021-12-07 11:54] rmk135 commented on #533
Not a bad idea. At the moment it's done in the different place:

[code]

It should be more convenient to specify it once while calling ``.from_env()``.

Thanks @gtors , will add it to the backlog.

[2021-12-07 12:02] rmk135 commented on #533
Hm, maybe we name it ``as_``, not ``cast``? Considering speed Python adds new features, I wonder if ``cast`` becomes a system keyword one day :) Also, it aligns better with current API (``as_*()`` methods).

[code]

What do you think @gtors ?

[2021-12-07 14:28] gtors commented on #533
Looks acceptable 👍🏻

[2021-12-13 10:20] chbndrhnns opened #537 "Confusing behavior of Singletons with pytest scopes"
I looked at a [related](https://github.com/ets-labs/python-dependency-injector/issues/421) issue but found that the solution there was not working well for me. What I understand is that singletons need to be reset.

Here is my code which has a root container with a `services` and `controllers` sub-container.

The expected behavior is like this:

- `container` fixture in `function` scope -> no prob

[2021-12-14 20:36] gtors opened #538 "How to fail application if dependency cannot be wired?"
For example, developer make typo in `Provide[...]`:

container.py
[code]

app.py
[code]

I've tried this approach, but it doesn't work for the Singleton:
[code]

So, how to crash app in case if dependency cannot be resolved?

[2021-12-14 21:04] gtors commented on #538
Why not raise an exception here?

https://github.com/ets-labs/python-dependency-injector/blob/541131e33858ee1b8b5a7590d2bb9f929740ea1e/src/dependency_injector/wiring.py#L546-L547

[2021-12-15 22:26] tymokvo opened #539 "Async resource is sometimes None"
Hello, I am trying to provide a long-lived `aiohttp.ClientSession` for integrating with an external HTTP API.

I have an async generator for the resource defined as:
[code]
which is then added to the `DeclarativeContainer` with `providers.Resource(http_session_factory)`.

But, my application is intermittently throwing:

[code]

when trying to use the provided `ClientSession` instance.

Am I initia

[2021-12-20 12:27] Matthias-Thul opened #540 "Question: How to build parameterized singleton"
Hi,

consider the following class

[code]

My aim is to have `b` injected and have a single instance of `X` for each value of `a`. With a factory provider, I can do the following:

[code]

This constructs two instances of `X` with `a=2` as expected. However, I want to have the above return only two instances of `X`, one with `a=1` and one with `a=2`. I tried

[code]

This returned a single instanc

[2021-12-22 15:43] chicco785 opened #542 "how to ensure that runtime changes to configuration are preserved?"
Hi

I have the following scenario, and I am a bit blocked....

I have a container that I use to load all configurations `Configuration`, and to ensure that,
when changes are applied to any configuration, the same configuration is used, I nested
it inside another Container using a singleton provider :

[code]

Unfortunately, as experimented with this test case, any change to the configuration value

[2021-12-27 09:44] imageschool opened #543 "Not able to import 'providers' from 'dependency_injector' in AWS lambda"
Hi, I am trying to import python-dependency-injector package within lambda function.

All other packages are fine instead of this one but I keep getting the below error for python di package :\

`{"errorMessage": "Unable to import module 'main': cannot import name 'providers' from 'dependency_injector' (/var/task/dependency_injector/__init__.py)", "errorType": "Runtime.ImportModuleError", "request

[2021-12-31 23:24] tarohi24 commented on #538
+1 It would be great to have an option to raise an exception when failing to resolve a dependency.

[2022-01-08 02:46] rmk135 commented on #530
I guess I go ahead with the name ``Aggregate``. This seems like the clearest statement of what this provider is intended for: to aggregate several other providers and represent them as a whole while still providing access to the parts.

[2022-01-10 14:34] wackazong opened #545 ".provided() returns different results"
I have a container structure with providers inside. For testing I acquire some of these providers via calling .provided()
[code]
gives me the `usecase1` which I can then execute. This call returns a future and has to be awaited.

Strangely enough, when I call `override` on the container before, the call to provided does not need to be awaited anymore:
[code]
Now, `.provided()` delivers the object

[2022-01-10 18:56] rmk135 commented on #545
Hi @wackazong ,

See https://python-dependency-injector.ets-labs.org/providers/async.html#async-mode-mechanics-and-api

In your example, the async mode state by default is undefined for ``usecase1``. When you test, you override with the sync dependency and it switches the provider in sync mode. Behavior without overriding is reverse. This is an issue and I don't have an elegant solution for now.

[2022-01-10 19:29] wackazong commented on #545
Ok, I get it. Thanks. I was playing around with `.enable_async_mode()` but did not get it to work. Will try your suggestion tomorrow 🙏🏼

[2022-01-10 19:29] #545 closed

[2022-01-14 04:32] minkichoe opened #546 "Builtin method 'open' not working on callable."
Hi, I'm using this library very well, thank you.

I tried callable injection, but not working on:
[code]

Exception: `TypeError: open() missing required argument 'file' (pos 1)`

[2022-01-14 04:33] minkichoe commented on #546
And I want to use like `buffered_byte_reader_factory("/path/to/file").readlines()`.

[2022-01-16 17:20] rmk135 commented on #546
Hi @minkichoe ,

This is what worked for me:

[code]

The use case you demonstrate looks fine. Please, let me know if still need help

[2022-01-16 17:27] rmk135 commented on #543
Hey @imageschool ,

Such kind of problem may happen if there are no ``.so`` files for some reason. Dependency Injector is built on Cython and the actual ``providers`` module is not a Python file. See screenshot:

<img width="436" alt="Screen Shot 2022-01-16 at 12 25 33 PM" src="https://user-images.githubusercontent.com/1742049/149670861-cf4ea32f-62d2-46ad-930a-86bc09759c51.png">

I would suggest c

[2022-01-18 17:51] chbndrhnns opened #549 "Override works only with yield, not with return"
I expect both tests here to pass. However, the test which depends on the fixture that returns the use case fails.
Only the test which depends on the fixture that yields the use case passes.

Could you help me understand if that's by design or if it's a bug?

<details>

<summary>Click to toggle example</summary>

[code]
</details>

[2022-01-20 11:34] approxit opened #550 "Dependency provider fails to provide default falsy value"
I found that `providers.Dependency` is not recognizing falsy default value as any provided value, which failbacks to raising errors due to missing dependency definition.

Simplest test case that works without errors:
[code]
But on falsy default value it complaints about no dependency defined:
[code]
I'm expecting that any provided default value will be accepted and used when no explicit value is p

[2022-01-21 02:45] satodaiki opened #551 "Dependencies are not injected when creating injections into a module using "providers.DependenciesContainer""
hello.

The following code tries to use SubContainer to perform dependency injection into a Service, but this code cannot be executed with the exception "exception: no description".

[code]

How can I perform dependency injection into a SubContainer?

[2022-01-24 14:42] noamby opened #552 "Using class property as decorator result in 'Provide' object has no attribute"
Hey,

I'm trying to wire a class property that will be used as a decorator for caching

fastapi==0.70.1
dependency-injector==4.37.0
dogpile.cache==1.1.5
redis==4.1.1

I get this error:
[code]

Here is an example:

cache.py
[code]

repository.py
[code]

container.py
[code]

services.py
[code]

endpoints.py
[code]

main.py
[code]

[2022-01-25 09:30] rrao24 commented on #543
@rmk135 Hello, I am also running into this same issue. I have ensured that the .so files are present, as well as, ensuring that I `pip install`ed the package on a Docker Image which has the same base OS as the AWS Lambda that I am deploying to. Could you provide any guidance?

[2022-01-26 02:11] minkichoe commented on #546
Thanks for your answer.
I have a mistake.

[2022-01-26 02:11] #546 closed

[2022-01-27 03:59] rmk135 commented on #546
No problem, thanks for asking

[2022-01-27 04:06] rmk135 commented on #552
Hey @noamby

Thanks for providing the example. I don't see anything that is needed to be fixed on your end from first sight. I will try to deploy the example locally and run a detailed investigation.

[2022-01-27 04:11] rmk135 commented on #550
Hey @approxit ,

Thanks for reporting the issue. It looks like a bug, and I agree that the second example should not raise an exception. I'll get it fixed

[2022-01-27 12:53] yongxin-chen-db opened #553 "Not compatible with MacOs M1"
Since I am using MacOS M1 I can't run programs that are using Dependency Injector.
Error message:
".../.env/lib/python3.9/site-packages/dependency_injector/containers.cpython-39-darwin.so: mach-o, but wrong architecture"

[2022-01-28 03:14] imageschool opened #554 "wrong issue"
- wrong issue

[2022-01-28 04:02] s0l0ist commented on #543
I was able to solve this problem, hoping it might help others.

requirements.txt (I'm using the yaml support):
[code]

Then install with the `--platform` flag
[code]

[2022-01-28 05:13] #554 closed

[2022-01-28 05:16] imageschool commented on #554
closed since It was created by mistake

[2022-01-29 04:13] rmk135 commented on #550
Fixed in dev version

[2022-01-29 11:09] fabiocerqueira commented on #454
[code]

Running the example above we get the expected behaviour
[code]

If you try to remove this double `@wraps` call in `helper` the function name breaks:
[code]

if I move the `@wraps` to the decorator(this I think should be the correct way) it breaks `@inject`
[code]

[2022-01-30 18:49] JanPalasek commented on #538
Doesnt this approach for dependencies not mentioned in wire function’s modules or packages parameters?
My idea would be to add this behaviour into the inject decorator, where if a parameter’s value was e.g. of Provide class (and it was mb the same as the method’s default value), an exception could be raised. This functionality could be toggled by a parameter of the inject decorator. It could be ex

[2022-01-30 19:37] JanPalasek commented on #538
Does this work for modules not mentioned in wire function? Mb implement into inject decorator?

[2022-01-31 04:28] #550 closed

[2022-01-31 16:39] rmk135 commented on #550
Fixed in version ``4.38.0``

[2022-02-01 16:14] vasya-gaikin opened #556 "Core container as singletone for entire app"
[App Package (Container) Diagramm](https://online.visual-paradigm.com/community/share/example-app-ub4sde1um)

The `CoreContainer` container contains:

[code]

The main question is about `CoreContainer`. Is there a way to make it
share for the entire application? The only way I found is when
importing top-level containers (`CleanContainer`, `DatabaseInitContainer`,
`ParseContainer`, ...) specify th

[2022-02-02 11:26] #556 closed

[2022-02-02 13:10] serlesen commented on #438
This issue still happens to me.
* Python 3.8.5
* Depencency-Injector 4.38.0
* PyInstaller 4.8 (also tried with 4.5.1)

The error appears when running the EXE file from Windows after packaging it with PyInstaller (with the options -D -w). Running the application directly from Python doesn't show the problem `ModuleNotFoundError: No module named 'dependency_injector.errors'`

[2022-02-09 04:43] jhartum opened #558 "How to inject celery in container in django project"
Hello, I want to inject celery settings to container, but i don`t have any idea how to do this. There is an example in the docs:[ Using Celery with Django](https://docs.celeryproject.org/en/stable/django/first-steps-with-django.html). In my project I realize celery settings like in example. Can you help me with it ?
Hope i'm not bothering you too much with this

[2022-02-09 15:47] mortyspace commented on #332
I have an issue that with FastAPI Depends + Closing not working

[code]

at the end -> `await connection.closed()` not called after func is done, so I can't close or release connection from connection pool

[2022-02-10 05:12] #558 closed

[2022-02-11 08:51] swimmwatch opened #559 "Using dependency-injector with celery"
Hello! I have some problem with using `dependency-injector` with `celery`.
Celery app:
[code]
My DI container:
[code]
Run command:
[code]
Output:
[code]
Can someone say how properly to use `dependency-injector` with `celery`?

[2022-02-14 20:02] xkortex commented on #559
Looks like maybe the Wiring API/`@inject` does not play nicely with `@celery.task` at this time. You can work around this by using the `Provider` to get the client, it's only one extra step.

[code]

[code]

I'm still pretty new to this particular library so there might be a way to get around this using the Wiring pattern, but I was not able to get `@inject` to get the actual provided object.

[2022-02-14 20:51] xkortex commented on #559
Aha! I think you may have forgotten `container.wire`.

    Place @inject decorator. Decorator @inject injects the dependencies.
    Place markers. Wiring marker specifies what dependency to inject, e.g. Provide[Container.bar]. This helps container to find the injections.
    Wire the container with the markers in the code. Call container.wire() specifying modules and packages you would like to wir

[2022-02-15 14:37] swimmwatch commented on #559
@xkortex, Yes, it helped. Thank you.

[2022-02-15 14:37] #559 closed

[2022-02-16 06:42] FXTD-ODYSSEY opened #562 "Python2 not support"
![image](https://user-images.githubusercontent.com/40897360/154210381-adb6fab1-a952-4b98-bf41-2a0e50c58800.png)

[2022-02-16 07:17] chbndrhnns commented on #562
I assume that's not a bug but rather as expected.

[2022-02-16 13:38] gregmuellegger commented on #495
Hi, just dropping by to say that I'm struggling with a similar setup where I want to keep one session to one request.
I've tried to read into contextvars, but I don't feel knowledgeable enough in the async space to contribute a solid solution here.

[2022-02-24 00:11] jacquelinegarrahan commented on #474
I'd like to second this concern- my current use case would benefit from a passed pydantic object rather than the dict:

[code]

[2022-03-04 06:17] Su57 opened #563 "How to make injection in middleware class of Fastapi/Starlette"
Hi, i've been using  this greate freamework in my project these days. In the docs of [[wiring](https://python-dependency-injector.ets-labs.org/wiring.html#making-injections-into-modules-and-class-attributes)](https://python-dependency-injector.ets-labs.org/wiring.html#making-injections-into-modules-and-class-attributes), i see it's possible to wire a depedndency into a class directly,but in my pro

[2022-03-07 14:30] shimat opened #564 "providers.Configuration(ini_files=...) doesn't seem to work"
Hi,
when using `providers.Configuration(ini_files=...)`, the ini file does not seem to be loaded. But `from_ini` works fine.

My environment: Windows 11, Python 3.10.1, dependency-injector = "4.38.0".

[code]

[code]

[2022-03-07 15:25] rmk135 commented on #564
Hi @shimat ,

Thanks for reporting the issue, I'll take a look.

[2022-03-08 01:48] rmk135 commented on #564
Following up after quick research. To make the second example work properly there is an extra method that should be called ``config2.load()``. See the following example:

[code]

Container does this automatically when you create a container instance.
@shimat could you provide more information about your use case? Do you use configuration provider outside of a container?

[2022-03-08 01:52] rmk135 commented on #549
Hi @chbndrhnns ,

[code]

In the provided sample context manager that handles overriding resets the overriding right after the return is called, but before the actual test is executed. This is Python's natural behavior. I agree that it looks unobvious from first sight. Not sure if there's a way to fix it though.

[2022-03-08 10:52] shimat commented on #564
Thanks for the information. I just tried the code blow and it didn't cause any problems. When I tried almost the same code before it looked like a failure, maybe there was some mistake on my part. Anyway, thank you very much.
[code]

[2022-03-08 10:52] #564 closed

[2022-03-08 18:56] chbndrhnns commented on #549
Yes, I also see this now and I understand there is no way around it. I believe it confused me in the beginning that I could not understand by the override was not working as expected. Now I do :)
Thanks for getting back to me!

[2022-03-09 23:50] kalimalrazif opened #565 "Help please. I'm not getting the correct way to do the wiring"
I am trying to use wiring into my fastapi project.  This is my file layout

[code]
I have my business logic in core package and use the adapters packages to connect de core with the exterior, like an hexagonal architecture.
### run.py
[code]

### micro_servicio.core.__init__.py
[code]

### micro_servicio.core.acciones.__init__.py
[code]

### micro_servicio.adapters.web.app.py
[code]

### micro_ser

[2022-03-10 16:08] skewty commented on #449
It is coming up 1 year since this issue was first opened.  What ever came of this?

[2022-03-10 16:17] skewty opened #566 "container.init_resources() is not awaitable; it's None"
Python 3.9 on Windows 10 system.

[code]

[code]

[code]

also tried this variation thinking it may not recognize the async Queue as needing an event loop:

[code]

What's the trick to get `container.init_resources()` to not return `None`?

[2022-03-11 17:54] skewty commented on #566
I thought I worked around the problem above by doing:

[code]

Both `container.mqtt_input` and `container.spectralink_output` are `providers.Singleton`. They both share the queue created above. The queue wasn't working during testing so I set a breakpoint inside `run()` above and in console I tried this:

[code]

Now, how can that be when all three are supposed to be singleton?

Here is a more com

[2022-03-11 19:44] rmk135 commented on #566
Hi @skewty ,

Please use ``providers.Resource`` instead of ``providers.Singleton``. Method ``container. init_resources`` inits only resource providers.

[2022-03-12 01:04] skewty commented on #566
Thanks for the correction.  I switched them to Resource as per your suggestion but I still can't `await container.init_resources()` (it is still None).  Is the type hint just wrong?  How do I get `container.init_resources()` to be awaitable?

[2022-03-14 09:27] kamilwojtanowski commented on #565
Try this, worked for me in similar situation:
`from dependency_injector import containers, providers
from micro_servicio.core.acciones import Acciones

class Container(containers.DeclarativeContainer):
    # wiring_config = containers.WiringConfiguration(modules=["micro_servicio.core.acciones"]) <---- string path to module
    config = providers.Configuration()
    acciones = providers.Factory(Acc

[2022-03-14 12:51] kalimalrazif commented on #565
Thanks! :-)

I will try, and let youy know :-)

[2022-03-14 13:06] kalimalrazif commented on #565
:-(  Did not work :-(

Thanks for the advice anyway :-) it worth the try :-)

[2022-03-15 08:53] pawelrubin opened #567 "Resource shutdown not being awaited properly when using FastAPI's on_shutdown"
### Steps to reproduce

Consider the following example:

[code]

Run it and then quit with `CTRL+C`
[code]

[2022-03-15 08:55] pawelrubin commented on #566
Hi @skewty. Try to use `providers.AsyncResource` instead. Hope that helps.

[2022-03-16 13:55] suspectinside opened #568 "Add Validation feature for loading configuration"
lets say we has some simple config file:

[code]

and we want that it would already be validated and casted automatically, not just loaded.

PDI uses Pydantic already, so i'd like to suggest to add validation parameter with Pydantic Model which would be used for validation and **before** internal Configuration structures will be populated.

for the above yaml config we have Pydantic model like thi

[2022-03-22 03:34] VKFisher opened #569 "numpy.typing.NDArray breaks wiring"
Attempting to wire a module that imports `NDArray` from `numpy.typing` breaks wiring with the following error:

[code]

The problem occurs in this bit of code in `wiring.py`, specifically in the `_is_starlette_request_cls` method

[code]

Seems like `NDArray`  passes the `isinstance(instance, type)` check, but then raises a `TypeError` when passed to `issubclass`

[2022-03-22 08:22] Jitesh-Khuttan commented on #454
@fabiocerqueira I faced the same issue as well, adding **wraps** is breaking the inject.

@rmk135 could you please have a look?

[2022-03-22 10:59] tad3j commented on #475
I'm looking at the same situation when trying to open DB session per FastAPI request by using `Resource`  provider.

As a base I've used [example from docs](https://python-dependency-injector.ets-labs.org/examples/fastapi-sqlalchemy.html) and added resource with:
[code]
Issue with this code is that **database session is only opened once** (on first request) then object is stored globally and serve

[2022-03-22 11:56] tad3j commented on #495
I've tried to use `Factory` but since it's not a generator it just opens the session but never closes it (and there is no option since Factory uses return).

Could solution be dynamic container?

[2022-03-24 19:23] rowan-maclachlan commented on #513
Yeah, same issue for me.

[2022-03-25 17:57] rowan-maclachlan commented on #551
I'm having a similar issue.  I'm coming from Spring DI and Google Guice land, and some aspects of this DI framework leave me scratching my head.  The only way I see to get something like this working would be pass the `SubContainer` instance to the `Container` and leverage it that way.  i.e.

[code]

Or something like that.  I'm not sure my example is right or that I understood your problem, exact

[2022-03-25 21:18] rmk135 commented on #569
@VKFisher Thanks a lot for finding the issue and providing a PR. I'll merge and publish a release on the weekend

[2022-03-25 21:21] rmk135 commented on #568
Hi @suspectinside ,

Thanks a lot for the feedback, that totally makes sense. I'll work on it.

[2022-03-25 21:22] rmk135 commented on #567
Hi @pawelrubin ,

Thanks a lot for providing the example. I'll debug it and will try to find a solution

[2022-03-25 21:23] rmk135 commented on #566
Hi @skewty ,

Could you provide a code sample for debugging?

[2022-03-25 21:24] rmk135 commented on #565
Hi folks,

Apologies for the delay with answer. I didn't get into details yet, but will try to debug in details on the weekend

[2022-03-25 21:27] rmk135 commented on #562
Hi @chbndrhnns ,

Wiring doesn't work with Python 2. I cannot recall what was the reason why Python 2 is not the case for wiring, but I think there were some technical impediments during the implementation.

[2022-03-28 04:34] rmk135 commented on #569
Fix is published in version ``4.39.0``.

[2022-03-28 04:34] #569 closed

[2022-03-28 15:03] kalimalrazif commented on #565
Thanks :-)

[2022-03-29 08:37] chbndrhnns opened #572 "How to traverse containers up to find other provider"
I have not found a good explanation in the docs on how to achieve the following:

There is an application that is organised in bounded contexts which have no overlap, each has a set of controllers (to simplify).
However, it should be possible to reference a controller from context "other" in the controllers container of context "one".

What can I do to make the test pass?

<details>
<summary>Click

[2022-03-29 08:39] kokostek opened #573 "How to configure a dataclass with default values?"
Suppose one have a `dataclass` with default values specified inside it. What is the best way to use this defaults in `providers.Configuration`? And another question: how do you pass config values to `dataclass` factory without specifying all fields explicitly?

At the moment, I've came up with this usage, but I'm not very happy with `foo` factory declaration, because I have to update it every time

[2022-03-29 12:00] burritoatspoton opened #574 "`@inject` breaks `inspect.iscoroutinefunction`"
After upgrade to 4.39.0, while `asyncio.coroutines.iscoroutinefunction` is preserved, `inspect.iscoroutinefunction` is not -- tested on Python 3.10.4:
[code]
This e.g. makes FastAPI incorrectly recognize `bar` as a "normal" function when used with `dep = fastapi.Depends(bar)` syntax in router dependencies.

[2022-03-29 15:18] rmk135 commented on #574
Hi @burritoatspoton ,

Thanks a lot for reporting the issue. I have Cythonized some parts of ``@inject`` decorator and it caused the problem. Seems like the problem is known and the roots go back to 2018: https://github.com/cython/cython/issues/2273.

Working on the fix.

Best,
Roman